[2016-02-17 12:08] glaslos opened #1 "/proc emulation"
Have a look at http://user-mode-linux.sourceforge.net/old/hppfs.html

[2016-03-07 19:08] dufferzafar opened #2 "Storing events"
Currently, Tanner just responds to events by detecting some known patterns, and responding with payloads (if they exist.)

Do we also plan to store these events (in some database perhaps) for analysis later?

I'm also just guessing that this will be done on Tanner's side, rather than Snare's.

I'd be interested in working on this feature (if it is needed, of course,)

P.S: It'd be nice if you coul

[2016-03-07 19:51] glaslos commented on #2
Definitely needed and you are right, there is no reason to do this in snare and tanner is where everything comes together.
I was looking into time series databases, influxdb is something I have used before and looks very promising. If we want to focus on search, we probably want to go for something that is better for full text indexing (e.g. ElasticSearch). Maybe we use both? influxdb for counters

[2016-03-07 19:53] glaslos opened #3 "Web UI"
Input should be a sensor UUID (part of every request to tanner). Something like `/api/<uuid>/stats`
Should show some basic stats regarding the activity from the sensor.

[2016-03-07 19:55] glaslos commented on #2
Thinking about it, a simple counter database to display the activities from a sensor might be a good starting point and basis for the UI #3
Have also a look at RethinkDB, they are pretty cool as they have a pub/sub feature that let's you build graphs that update as data comes in using web sockets.

[2016-03-07 20:00] glaslos opened #4 "LFI emulation"
Right now the [LFI](https://en.wikipedia.org/wiki/File_inclusion_vulnerability) emulation is very [limited](https://github.com/mushorg/tanner/blob/932249c0b67ce7aeb3a4e7b9118ce428fdf303ef/data/passwd) we probably want to add a virtual file system similar to what [we have](https://github.com/mushorg/glastopf/tree/66d0d42aa10c4c68e38dfb9301dc45871719b596/glastopf/modules/handlers/emulators/data/virt

[2016-03-07 20:13] glaslos opened #5 "RFI emulation"
By using [PHPox](https://github.com/mushorg/phpox) as a service we should be able to run injected PHP code and return the results to the adversary in a timely manner. We are primarily interested in executing those PHP scripts that try to evaluate the vulnerability of the web application. Bot's are interesting too but they usually require longer execution time (this could be done separately).

[2016-03-07 20:22] glaslos opened #6 "SQL injection emulation"
This is a bit of a tricky one and we made various attempts in Glastopf.
First attempt was based on tokenizing know SQL injection queries and using them to match queries against Glastopf. This had limited success as we had a small database. Response was generally just a default MySQL error message.
Second attempt can be found [here](https://github.com/mushorg/glastopf/blob/66d0d42aa10c4c68e38dfb930

[2016-03-12 10:36] glaslos opened #7 "Track sessions"
Add the capability to track client sessions. Be it through the IP address, user agent, cookies... We had [something](https://github.com/mushorg/glastopf/blob/master/glastopf/modules/processing/profiler.py) along those lines in Glastopf.

[2016-03-12 10:45] glaslos opened #8 "Evaluate Sessions"
With session tracking #7 we can:

- Evaluate how successful our responses are in triggering multiple stages
- Attempt fingerprinting the session owner (bots/tools/persons)

[2016-04-22 22:18] dufferzafar opened #9 "Future?"
I think this project has [not been selected](https://summerofcode.withgoogle.com/organizations/5000784504684544/?sp-page_size=48#projects) as a part of GSoC'16.

Will you be working on this in your personal time?

If not, then I'd like to ask you the same thing I've asked before, Can I port this (& snare) to flask? :pray:
I have no technical reason to do this. Just that I'm really well versed with

[2016-04-23 14:45] glaslos commented on #9
Actually we got a student (@afeena) working on it :) I will also continue working on it. Especially the data logging part of this project. I will discuss flask with afeena as she is going to work on this primarily. asyncio is something I highly recommend you to learn as it was the main reason for me to switch from Python2.7 to Python3. No more gevent, thread magic :)
I'm definitely looking forward

[2016-04-25 21:17] dufferzafar commented on #9
I'm sorry I wasn't aware of the fact that this is afeena's project.

If she too finds Flask okay for this, then that's great otherwise I'll just go ahead and learn asyncio, I guess.

I am interested in this project because I'm interested in learning about various vulnerabilities. I currently have a very basic idea of how LFI / SQLi work, and I think I could learn more about them by implementing th

[2016-04-26 11:15] glaslos opened #10 "Detect RFI attacks"
Related to #5 Create some rules to detect a remote file inclusion.

[2016-04-26 13:41] #9 closed

[2016-05-23 21:37] glaslos opened #11 "Add some basic tests to ensure we keep functionality"
With some basic test to ensure functionality we are able to see quickly if a pull request breaks the tanner. Probably best to use nosetests and unittest.

[2016-05-23 21:37] glaslos opened #12 "Enable Travis"
Add TANNER to Travis so we get continuous testing.

[2016-05-24 11:54] afeena commented on #11
#13

[2016-05-24 11:58] afeena commented on #10
Now we have re for detecting rfi
`re.compile('.*(=.*(http(s){0,1}|ftp(s){0,1}):).*', re.IGNORECASE): dict(name='rfi', order=2)`
Do we need new detection rules?

[2016-05-24 12:23] glaslos commented on #10
No, detection is fine. Let's move on to emulation.

[2016-05-24 12:23] #10 closed

[2016-05-24 12:24] glaslos commented on #5
How should SNARE behave if TANNER detects a RFI?

[2016-05-24 13:42] glaslos commented on #11
Closed with f6f966e9ced32dec93f4ed82de0bc952bc0e248a

[2016-05-24 13:42] #11 closed

[2016-05-24 13:44] glaslos commented on #5
Some background information on RFI: https://en.wikipedia.org/wiki/File_inclusion_vulnerability

[2016-05-24 17:25] afeena commented on #5
SNARE should return the result of rfi emulation to the user.

I think about next structure:
- TANNER detect rfi
- TANNER rfi emulation download file and run PHPox as a service with this file
- PHPox return the result to TANNER(?)
- TANNER return to SNARE result of execution or error of execution
- User get the result on the page

Is this correct in general or not?

[2016-05-24 21:35] glaslos commented on #5
Sounds good! Yes, PHPox replies to TANNER.

[2016-05-24 21:50] afeena commented on #5
I start with emulation:
[https://github.com/afeena/tanner/commit/dfa64a16fd7dd40bf10799c57ef356533160e9d3](url)

I will be glad, if you give me some feedback before I continue.

[2016-05-25 20:33] glaslos commented on #5
Done with 4c4e991

[2016-05-25 20:33] #5 closed

[2016-05-25 20:33] glaslos commented on #12
Done.

[2016-05-25 20:33] #12 closed

[2016-05-25 20:34] glaslos opened #15 "Test the clonging utility against a vanilla wordpress instance"

[2016-05-25 20:35] glaslos opened #16 "Return the Sandbox result to SNARE"

[2016-05-25 20:35] glaslos opened #17 "Add test for the RFI emulator"

[2016-05-26 23:02] glaslos commented on #17
closed with 83869ea

[2016-05-26 23:02] #17 closed

[2016-05-27 13:28] glaslos opened #20 "Investigate XSS"
With the capability of tracking a session #7 can we return injected malicious code to the attacker?

[code]

[2016-05-27 14:07] afeena commented on #15
What sort of result we are expecting? How to evaluate the success or failure?

[2016-05-27 14:16] glaslos commented on #15
Actually this should be in SNARE. Moving it there: https://github.com/mushorg/snare/issues/11

[2016-05-27 14:16] #15 closed

[2016-05-27 14:45] glaslos commented on #16
Closed with 403ad61b2eff9117830da60983754970e4b28d9c

[2016-05-27 14:45] #16 closed

[2016-05-30 10:19] afeena commented on #7
Is this the SNARE task? In TANNER we get only SNARE socket info or we should pass client data to TANNER?
How should we store tracked data? DB?

[2016-05-30 10:41] glaslos commented on #7
We should pass IP info from SNARE to TANNER.
Keep the data in memory for the beginning. Consider how to clean up old sessions. Have a look how we did session tracking in Conpot: https://github.com/mushorg/conpot/blob/master/conpot/core/session_manager.py

[2016-05-31 21:12] glaslos commented on #7
Closed with 6fa5640

[2016-05-31 21:12] #7 closed

[2016-05-31 21:13] glaslos commented on #8
You probably want to have a dict with all the request paths for a session and then count how often a certain path was accessed. Maybe also a timestamp for when which path was accessed. I kind of want to see which paths the attacker tried to access when and in which order.

[2016-06-02 14:01] glaslos commented on #8
This is a rather open task so don't get hung up on it.

[2016-06-03 13:53] glaslos opened #24 "Handle missing user-agent header"
This lookup can cause a KeyError: https://github.com/mushorg/tanner/blob/110a1d20a03d9e6f92b1aa68274aa25a797ce0f0/session.py#L12
We should probably make lower case the key and test if the user agent is in the header dict.

[2016-06-03 14:04] glaslos opened #25 "Handling old SNARE sensors"
This line failes if the IP in None: https://github.com/mushorg/tanner/blob/110a1d20a03d9e6f92b1aa68274aa25a797ce0f0/session.py#L39

[2016-06-03 14:07] glaslos opened #26 "Add tests for session handling"
We should handle cases like #24 and #25

[2016-06-03 14:35] glaslos opened #27 "Use an uuid to identify sessions"
Instead of using a hash of user agent and IP (https://github.com/mushorg/tanner/blob/110a1d20a03d9e6f92b1aa68274aa25a797ce0f0/session.py#L40), we should use a unique uuid. So use `self.sensor = data['uuid']` and `self.uuid = uuid()`

[2016-06-06 08:27] glaslos commented on #20
Moved this issue to gsoc_sprint_3

[2016-06-06 08:27] glaslos commented on #8
Moved this issue to gsoc_sprint_3

[2016-06-06 08:31] glaslos commented on #26
Closed with 9384e86

[2016-06-06 08:31] #26 closed

[2016-06-06 08:31] glaslos commented on #24
Closed with 9384e86

[2016-06-06 08:31] #24 closed

[2016-06-06 08:32] glaslos commented on #25
Closed with 9384e86

[2016-06-06 08:32] #25 closed

[2016-06-08 15:44] afeena commented on #20
In Google chrome and Mozilla firefox we can get xss only in post requests (because of replacing <> and ' in these browsers ), that's why I think about this structure:
- SNARE get post request with xss and send post_data in data to TANNER
- TANNER browses post_data and check the data with this pattern '<(.|\n)*?>'
- If we have xss, TANNER send to SNARE result with payload, where payload = xss scrip

[2016-06-08 16:48] glaslos commented on #20
This sounds really good. You can test this by commenting on the blog posts.

[2016-06-09 17:03] afeena commented on #20
When we inject script into page in Google chrome, we have next error:

"token contains a reflected xss vector"
http://i.imgur.com/9QpAO7o.png

I tested alerts in Mozilla and it's work correcly

[2016-06-09 17:05] glaslos commented on #20
Ah, interesting, can you disable the security check in chrome?

[2016-06-09 17:07] afeena commented on #20
It's possible if start Chrome with --disable-web-security flag

[2016-06-09 17:15] afeena opened #31 "Centralize all patterns"

[2016-06-09 19:02] glaslos commented on #20
Do you think we can close this after I merged 27af9da ?

[2016-06-09 19:04] glaslos commented on #27
Closed with f275098

[2016-06-09 19:04] #27 closed

[2016-06-10 09:03] afeena commented on #20
I think it's a big task and we can hold this issue open some time to look what more we can do with it

[2016-06-10 09:04] glaslos commented on #20
Okay, I will then just remove the milestone.

[2016-06-10 09:07] glaslos commented on #8
I think a good start for this task is to look at RFI attacks. They usually start with an injection of a id script. They run some simple script that should return some information about the system. If successful, they inject the bot. In the sessions, we should be able to see the stages. Maybe we should start this with a tool to investigate the stored sessions.

[2016-06-10 11:00] glaslos opened #32 "Expand the dork collection"
Right now we have a fixed collection of dorks: https://github.com/mushorg/tanner/blob/master/dorks.pickle
We want to increase the collection of dorks to make the SNARE sensors more attractive.
* Extract dork from request path
* Add new dorks to a separate pickle
* Mix dorks from the original pickle with dorks from the new pickle when requested by SNARE

[2016-06-10 11:15] glaslos opened #33 "Store files downloaded by RFI emulator."
Store the file with the file name being a md5 hash of the file.
Think about if we want to pass the path to the file or the file content to PHPOX.

[2016-06-11 22:32] afeena commented on #4
Do we need to run TANNER into UML, or our application should communicate with UML by another way?

[2016-06-12 08:57] afeena commented on #8
1.Maybe we should store the attack type in the session? For now we store paths, and we need to analyze them, i.e. we should do the same thing that we do in detection.
2.When we should initialize investigation tool? When the session is added/updated, or after session is pushed to redis? If we use redis, maybe we need update old session in the redis?

For now I not clearly understand how to investig

[2016-06-12 19:18] afeena opened #34 "Add test for the xss emulator"

[2016-06-12 19:19] afeena commented on #33
In which folder should we store downloaded file?

[2016-06-13 18:27] afeena opened #37 "Add test for the LFI emulator"

[2016-06-14 08:11] glaslos commented on #8
Both are good ideas, we definitely want the attack type stored in the session. You can start with adding requests/second to the session when you close it.

[2016-06-14 08:12] glaslos commented on #33
`/opt/tanner/files` should be fine.

[2016-06-14 08:37] afeena commented on #33
I used for the first time /opt/tanner/, but it didn't pass the tests :(
https://travis-ci.org/afeena/tanner/builds/137102392

[2016-06-14 08:39] glaslos commented on #33
I assume you have to use a temporary folder for tests. I assume they don't run the tests as root or protect that folder.

[2016-06-15 22:15] afeena commented on #8
What we expect as a result? Maybe we make json for every session with stats, e.g.
[code]

[2016-06-16 23:16] afeena commented on #8
I think about storing evaluation result. Maybe we don't need raw sessions in redis, maybe we should store only sessions, that were evaluated?

[2016-06-17 12:36] afeena commented on #33
Can we close this issue with   4b613af ?

[2016-06-18 10:52] afeena commented on #32
"Extract dork from request path" Can you explain this point?
How existing dorks file was created? (I mean which sources was used) and can we use Google hacking database for the new dorks? (or they will intersect with old dorks?)

[2016-06-18 11:58] glaslos commented on #32
So the assumption is that an attacker is not trying to target just one vulnerability. So further requests probably contain also paths to a vulnerability. By taking the path (from first slash form the left to an eventual question mark) and adding it to the dork list, we expand the attack surface of SNARE.

[2016-06-18 12:22] glaslos commented on #32
I used dorks from glastopf. I think they are originally from the Google Hacking DB. Intersection should be no problem. I think we should have one db for "good" dorks, dorks we got from the GHDB or which we added manually, and one dork db from requests. Consider also if we want to move the dorks into redis so we don't have to keep them in the python process memory.

[2016-06-18 12:29] #33 closed

[2016-06-18 12:31] glaslos commented on #34
Closed with 392c6250ccf723b4443aabb3250baeb169078d37

[2016-06-18 12:31] #34 closed

[2016-06-18 12:31] glaslos commented on #37
Closed with 392c6250ccf723b4443aabb3250baeb169078d37

[2016-06-18 12:31] #37 closed

[2016-06-18 12:32] glaslos commented on #34
Closed with c98b0cf9dc78e1d1ed5f3f3dac59c1ced2cbb94a

[2016-06-18 12:37] #4 closed

[2016-06-18 12:42] glaslos opened #42 "Move LFI files into /opt/tanner"
All operational data should be in the /opt/tanner directory.

[2016-06-19 12:20] glaslos commented on #8
You are right, we can keep the open sessions in the TANER Python process memory. Create a separate issue for it.

Closing this issue after merging 7087bb8

[2016-06-19 12:20] #8 closed

[2016-06-19 19:44] afeena opened #43 "Store evaluated sessions"

[2016-06-22 07:44] glaslos commented on #42
Closed with 93a759f

[2016-06-22 07:44] #42 closed

[2016-06-23 17:39] afeena opened #47 "Adding new lfi data files"
For now LFI adds files to virtualdocs folder only if the linux directory empty. I think it will be great if we will add new files when new object is put to vdocs.json

[2016-06-28 07:41] glaslos commented on #32
Closed with ebf2f6a

[2016-06-28 07:41] #32 closed

[2016-06-28 08:28] afeena opened #49 "Wrong detection"
When TANNER determine the type of vulnerability, it incorrectly handles xss with links (it marks them as rfi).
For example, these links:
[code]

[2016-06-28 08:33] afeena commented on #49
Possible fast fix: change xss order to 3

[2016-06-28 08:51] afeena opened #50 "OverflowError: timeout is too large"
I'm testing SNARE/TANNER with grabber.
``` grabber --spider 1 --include --url <snare host url>``` ,
and OWASP Zap. LFI testing going well, but when starting testing RFI, it fails with this error:

[code]

[2016-06-29 17:54] glaslos commented on #50
Can you try with a local SNARE and TANNER?

[2016-06-29 17:55] afeena commented on #50
Yes, I tested it on the local machine

[2016-06-29 17:56] glaslos commented on #49
Can it be only `src` and `href`? We should probably also take the `"` into account.

[2016-06-29 18:00] glaslos commented on #50
Strange issue. Did you manage to reproduce or pinpoint where the issue is happening?

[2016-06-29 18:33] afeena commented on #50
The problem is in the url, it can't handle google.com url, but grabber and owasp use it for testing

[code]

[code]

[2016-07-03 18:04] afeena commented on #50
I spent lots of time trying to understand the problem. It seems that this error occurs only on my local Ubuntu 16.04 LTS and there is no errors on Arch Linux (the interpreter the same, and I don't know what the problem is). Maybe we can close this issue, but keep in mind that it's possible.

[2016-07-03 18:25] afeena commented on #49
Some examples, there is links without ``"``. I propose to replace order of xss from 2 to 3. It allows to decrease numbers of the wrong detection
``'/default.ph/?pageweb=<LINK+REL="stylesheet"+HREF="http://ha.ckers.org/xss.css">'
'/default.ph/?pageweb=<STYLE>@import\\'http://ha.ckers.org/xss.css\\';</STYLE>'
'/default.ph/?pageweb=Redirect+302+/a.jpg+http://victimsite.com/admin.asp&deleteuser'Exampl

[2016-07-05 09:11] glaslos commented on #49
Fixed with dc54ef2

[2016-07-05 09:11] #49 closed

[2016-07-05 09:12] glaslos commented on #50
I agree.

[2016-07-05 09:12] #50 closed

[2016-07-10 15:52] glaslos commented on #31
Closed with a572b15

[2016-07-10 15:52] #31 closed

[2016-07-11 15:04] glaslos commented on #43
Closed with 03315b4

[2016-07-11 15:04] #43 closed

[2016-07-11 15:05] glaslos commented on #6
Find out if we can use https://github.com/client9/libinjection to detect SQLi

[2016-07-13 21:54] afeena commented on #6
I have the error when trying to use libinjection with python 3. I used this [docs](https://github.com/client9/libinjection/wiki/doc-sqli-python) and have next error:
[code]
I have module in ``/usr/local/lib/python3.5/dist-packages/libinjection-3.9.1-py3.5-linux-x86_64.egg```, I can import module, but can't use functions.

When I use libinjection with python 2 I have no problem. It finds all the fu

[2016-07-13 22:13] afeena commented on #3
1) What should we do if we have lots of info? E.g., we have 1,000,000 records for certain SNARE uuid, how we should return its info? We can split it into pages::
``/api/stats?uuid=<uuid>&c=100&p=1`` .
So, do we need any navigation tools on the page? Or we should not return all the sessions info? Maybe we should return only summary statistics, e.g.:

- sessions count
- attacker's sessions
- last ac

[2016-07-14 11:51] glaslos commented on #6
I can confirm your issue.

[2016-07-15 13:03] glaslos commented on #3
I'd keep it simple for now. Show the last x sessions (50?), and maybe a timeline with events/time.

[2016-07-15 13:04] glaslos commented on #6
Can you raise an issue with the maintainer of libinjection?

[2016-07-15 13:17] afeena commented on #6
I write the issue yesterday :)
https://github.com/client9/libinjection/issues/108
Waiting for the answer

[2016-07-22 08:27] glaslos commented on #6
Initial work done here: 638ed6a

[2016-07-22 23:24] afeena commented on #6
- Shall we use docker for DB, or we can run DB without docker?
- Shall we use one DB for all possible users, or maybe we can create DB for every session and then drop it?
- What DB shall we use?

I think about initializing DB: we can use sql file for creating DB. If user wants, he can uses own sql file, but by default we can use any existing dump.

[2016-07-23 13:02] glaslos commented on #6
Can you have a look how it was done by Rebecca? https://github.com/rebeccan/glastopf there is some information in `install.txt`.

[2016-07-23 22:54] afeena commented on #6
I explored the code one more time. I want to make the first implementation with two tables (users and comments) and sqlite db. And without docker for the first attempt. Would that be OK?

[2016-07-23 22:55] glaslos commented on #6
Sounds good,

[2016-07-25 22:02] afeena commented on #6
Mapping requests to tables blew my mind. I have only one idea how to implement this:
create special dorks for sqli based on existing database.

### Example:
We have table ```users``` with field ```id```, ```username```, ```email```, ```password```

1. Determine set of queries for the table:
```SELECT * FROM users WHERE id=```,
```SELECT email  FROM users WHERE username=```, etc
2. Create special d

[2016-07-27 08:59] glaslos commented on #6
SQLi handling consists of two components: We want to detect the the SQLi statements in the HTTP query (using libinjection) and we want to reply to the query so the adversary think he was successful. As you already noticed, the second part is rather difficult.
Usually we see SQLi queries that target specific applications. They will try the query against the honeypot, if it's not working, they move

[2016-08-02 09:14] glaslos commented on #6
Initial work done with dde3110

[2016-08-02 09:14] #6 closed

[2016-08-02 09:17] glaslos opened #59 "Add tests for SQLi emulation"

[2016-08-02 09:19] glaslos opened #60 "Update documentation with SQLi emulator"
We should add a SQLi section here: https://github.com/mushorg/tanner/blob/master/docs/source/emulators.rst

[2016-08-02 19:52] afeena opened #61 "Change project structure"
I don't like that all the files into the root of the project. Maybe we should make the project structure better: for example, move emulators into ```emulators/handlers``` folder, change naming and so on

[2016-08-02 19:57] afeena opened #62 "Create tanner config"
Now we have some hard coded values: handler's directories, db name, redis host/port. I think it will be great, if we create config file for these purposes.

[2016-08-02 20:06] glaslos commented on #61
Works for me. But keep the structure flat. E.g. in Glastopf, every thing is very difficult to find.

[2016-08-07 15:16] glaslos commented on #60
Done with e94a74c

[2016-08-07 15:16] #60 closed

[2016-08-07 15:17] glaslos commented on #59
Done with d499b1b

[2016-08-07 15:17] #59 closed

[2016-08-08 20:00] afeena opened #68 "Add logging"
How should we organize logging system? What info should we write to logs? Should we replace print messages with logs?

[2016-08-09 16:02] glaslos commented on #68
We should definitely remove all prints and move it into a logging handler. Go for a simple syslog for now. I am currently finalizing HPFeeds2 (data collection framework for the Honeynet Project) and we will use that to collect the data (simple HTTP RESTful API).

[2016-08-09 16:03] glaslos commented on #2
See #68

[2016-08-09 16:03] #2 closed

[2016-08-11 19:29] glaslos commented on #68
Closed with baadc53

[2016-08-11 19:29] #68 closed

[2016-08-12 09:04] glaslos opened #71 "Benchmark TANNER"
How many requests can we serve per second? Which APIs are slow? Which handlers are slow? Does https://github.com/MagicStack/uvloop speed up things?

[2016-08-14 19:20] afeena commented on #71
I made some checks and improvements, the results in the table below. Tested with ``wrk``. It works through SNARE, so it have SNARE latency in the measurements.
Testing string: ``wrk -t12 -c400 -d30s <path>```

| request | asyncio  | uvloop&improvements   |
|--------|:----------:|--------------------------:|
| index  | Requests/sec:     17.14  | Requests/sec:     49.26  |
|  rfi |  Requests/sec:

[2016-08-14 23:34] glaslos commented on #71
Good work. Use runsnakerun for some analysis: http://www.vrplumber.com/programming/runsnakerun/

[2016-08-18 11:29] afeena commented on #71
Benchmark with latest changes:

Without uvloop:
[code]
With uvloop
[code]

[2016-08-18 11:32] glaslos commented on #71
The 9 timeouts without uvloop is pretty scary...
Did you manage to make a profile with runsnakerun to see where we spend most of the time?

[2016-08-18 12:02] afeena commented on #71
Yes, I used snakeviz instead of runsnakerun (because of I haven't gui on linux):

Without uvloop:
<img width="960" alt="chrome_2016-08-18_16-57-51" src="https://cloud.githubusercontent.com/assets/8390928/17772983/44d4a1f6-6565-11e6-8c55-588476e32338.png">
<img width="960" alt="chrome_2016-08-18_16-58-05" src="https://cloud.githubusercontent.com/assets/8390928/17772984/478a6a5c-6565-11e6-896a-57234

[2016-08-18 12:26] glaslos commented on #71
Good work. I think we can close this issue for now. We might want to keep an eye on the average response time when we do some monitoring.

[2016-08-18 12:26] #71 closed

[2016-09-13 13:28] afeena commented on #61
I make the first steps for structure changing #78. Can you please give me some feedback about structure and setup?

[2016-09-18 12:51] glaslos commented on #61
Done with #78

[2016-09-18 12:51] #61 closed

[2016-11-08 06:41] afeena opened #81 "RFI ftp downloading fail"
It seems that new version of aiohttp fails when trying to connect over ftp.
[code]
We can use another library for ftp file downloading or try to solve the problem with aiohttp (if it's possible)

[2016-11-22 23:34] polancossj opened #82 "How do I run tanner?"
How do I run tanner?

I need to see the .log file

Where I find it?

thanks

[2016-11-23 06:33] afeena commented on #82
You can simply run ``python setup.py install`` in tanner directory, and then run TANNER ``sudo tanner``

**Note:** please, run tanner from source ``tanner/tanner`` directory until my last pr is merged.

Logs stored in the source ``tanner/tanner`` directory

[2016-11-23 06:35] afeena opened #85 "Split access and error logs"
We should have two log files: one for the events and one for the errors

[2016-11-23 09:59] glaslos opened #86 "RFI test failing"
FAIL: test_ftp_download (tanner.tests.test_rfi_emulation.TestRfiEmulator)

[code]

tanner.rfi_emulator.RfiEmulator: ERROR: Error during downloading the rfi script [Errno 101] Cannot connect to host mirror.yandex.ru:None ssl:False [Can not connect to mirror.yandex.ru:None [Network is unreachable]]

[2016-11-23 10:22] afeena commented on #86
#81

This problem occured after new version of aiohttp has been released

[2016-11-30 22:44] santiago92 opened #87 "Update readme"
Hi, can you update  tanner run instructions in the Readme file?. Thanks

[2016-12-01 00:13] polancossj opened #88 "problem with file vdocs.json"
when i run snare with tanner service i have the follow error:

![](http://image.prntscr.com/image/591d18b5103641bbbdc865399fe210dc.png)

this is a bug? or why happen?

Thanks!

[2016-12-01 18:19] afeena commented on #88
It's a bug, #90 should fix it.

[2016-12-05 11:06] kevthehermit opened #91 "Run Failes after install"
$ sudo tanner
Traceback (most recent call last):
  File "/usr/local/bin/tanner", line 4, in <module>
    __import__('pkg_resources').run_script('Tanner==0.1.0', 'tanner')
  File "/usr/local/lib/python3.5/dist-packages/pkg_resources/__init__.py", line 744, in run_script
    self.require(requires)[0].run_script(script_name, ns)
  File "/usr/local/lib/python3.5/dist-packages/pkg_resources/__init__.py

[2016-12-05 11:19] kevthehermit commented on #91
Looks like https://github.com/mushorg/tanner/pull/90 will fix

[2016-12-05 11:19] #91 closed

[2016-12-05 11:23] afeena commented on #91
Please, let me know if something goes wrong with #90 :)

[2016-12-05 12:15] glaslos commented on #88
reopen if it still happens after merging #90

[2016-12-05 12:15] #88 closed

[2016-12-05 13:58] glaslos commented on #88
Just merged #90 please check if that solves your issue.

[2016-12-05 13:59] glaslos commented on #91
Just merged #90 please check if that solves your issue.

[2016-12-05 19:26] kevthehermit commented on #91
Looks good thanks

[2016-12-06 10:50] afeena commented on #62
#79 #90

[2016-12-06 10:50] #62 closed

[2016-12-06 10:50] afeena commented on #81
#92

[2016-12-06 10:50] #81 closed

[2016-12-10 16:15] hamza005 opened #96 "tanner not runnig after complete installation"
i have installed the redis-server and php sanbox according to given instructions and so as tanner. redis server and sandbox is working well. but the tanner is not working ...here is the output after i give command `sudo tanner` in tanner directory.
![screenshot from 2016-12-10 21-14-43](https://cloud.githubusercontent.com/assets/20417498/21074560/b4956770-bf1d-11e6-8920-6fcb6bfc6329.png)

[2016-12-10 16:32] afeena commented on #96
Hi.
As I see, your tanner works well. It is not print anything to console, all logs stored in /opt/tanner/tanner.log
Just visit 127.0.0.1:8090 to see that it works

[2016-12-13 11:04] afeena opened #97 "Validate config"
We need to validate config before using its values

[2016-12-14 12:30] hamza005 commented on #96
:) done. But one thing i would like to ask, as i'm a new user to cyber threats and intelligence, i would like to ask that how i can link snare with tanner to handle all the traffic and for making response to the traffic?

[2016-12-14 12:35] afeena commented on #96
Great! :)

Just run SNARE with ``--tanner`` parameter (put ip or domain name)

[2016-12-14 13:41] hamza005 commented on #96
Without Tanner, SNARE is working well and following is the screen shot of the website while SNARE is running.
![screenshot from 2016-12-14 18-24-02](https://cloud.githubusercontent.com/assets/20417498/21183677/d1ec0e2c-c22a-11e6-99d1-963f2da94305.png)

Now when i used Tanner with SNARE, i used the following command line as per your instruction but SNARE seemed to be not working well.
![screenshot

[2016-12-14 13:45] afeena commented on #96
You should put in tanner parameter ip or domain name of your running TANNER host, not the site, which you cloned :)

[2016-12-14 13:50] glaslos commented on #96
You can run snare and tanner on the same host if you make sure they run on different ports.

[2016-12-14 14:08] hamza005 commented on #96
Thanks a lot :) It's working now. After giving the login credentials, the browser reload the same login page with plain HTML script. Here is the screen shot.
![screenshot from 2016-12-14 19-05-18](https://cloud.githubusercontent.com/assets/20417498/21184967/965b0998-c230-11e6-9d65-4fada93e2422.png)

Is it the expected behavior?

[2016-12-14 14:09] glaslos commented on #96
Can you check the server headers? Especially content-type

[2016-12-14 14:11] afeena commented on #96
I know this problem. SNARE can't understand mime-type (based on filename). I hope we can fix it soon

[2016-12-14 14:16] glaslos commented on #96
Closing this issue now. @afeena can you create a new issue for the mime type?

[2016-12-14 14:16] #96 closed

[2016-12-14 14:19] afeena commented on #96
@glaslos Sure

[2016-12-14 14:21] hamza005 commented on #96
Thank You. Hope you will fix the problems soon :)

[2017-01-13 11:17] TusharFale commented on #82
where i get tanner tool software?

[2017-01-13 11:21] afeena commented on #82
@TusharFale Could you please describe your problem more clearly?

Section from quick start guide:

Setup and run TANNER

* Get TANNER: git clone https://github.com/mushorg/tanner.git
* Go to the TANNER source directory: cd tanner
* Install requirements: pip3 install -r requirements.txt
* Install TANNER: python3 setup.py install
* Run TANNER: sudo tanner

[2017-02-08 15:26] X4mp opened #99 "Error on css file with url parameter"
I've cloned wordpress site which contains some .css files in the /wp-content structure.
When hosting the clone with SNARE a request to such a css leads to a 'FileNotFound' Error in Tanner and a response 500 Internal Server error on SNARE.

The tanner log contains following error log:
[code]

I'm not sure if it's an TANNER issue because of the ?ver=3.0.2 or an aiohttp/server.py issue.
I would fix i

[2017-02-08 19:31] afeena commented on #99
Hi, thanks for the issue!

It will be great if you make the pr :)

[2017-02-08 19:36] X4mp commented on #99
I will, but can you give me a hint where to look at?

On Wed, Feb 8, 2017, 8:31 PM Evgeniya <notifications@github.com> wrote:

[2017-02-08 20:00] afeena commented on #99
Just now I can't reproduce the problem. But I can make some suggestions.

Try to understand which file tanner can't find.
``` res = yield from _run_cmd(command)```
You can just print the command and see what it try to do.

[2017-02-08 20:05] X4mp commented on #99
OK I'll try that and investigate what the Problem is. But you would say the
Problem isn't with aiohttp (it's on top of the backtrace)?

On Wed, Feb 8, 2017, 9:00 PM Evgeniya <notifications@github.com> wrote:

[2017-02-08 20:19] afeena commented on #99
No, it's not with aiohttp. See the latest call, not the first :)
Example of the python stack trace with explanation https://en.wikipedia.org/wiki/Stack_trace

[2017-02-08 20:21] X4mp commented on #99
Thx

On Wed, Feb 8, 2017, 9:19 PM Evgeniya <notifications@github.com> wrote:

[2017-02-09 19:49] afeena opened #100 "Make the unified system for TANNER/SNARE communication"
We can get differ types of messages from TANNER, so we should check the type and existence of some dict keys to process the page. https://github.com/mushorg/snare/blob/master/snare.py#L187

TANNER should return unified messages to make processing the result of the emulation easier. For example, now payload can be dict or str, so we should make a lot of checks to choose the action. If TANNER return

[2017-02-13 19:12] glaslos commented on #100
Sounds good to me. We could also go similar like HTTP:
- 1 common type, but 101 is index page, 102 is css, 103 is image...
- 2 attack. 201 with inject, 202 with new page...
- 3 error. 301 req error, 302 tanner error...

etc.

[2017-02-16 09:17] X4mp commented on #99
As @afeena linked, it was a problem with the dependecies.

[2017-02-16 09:17] #99 closed

[2017-02-16 11:09] afeena opened #105 "Make config tests"
Need to write tests for config class to avoid problems like this #104 (Bad using of StringIO)

[2017-02-28 03:39] afeena opened #106 "Libinjection is missing in dependencies"
#103

[2017-02-28 04:55] afeena opened #107 "Use utf-8 in logger"
I have cloned site, which has Cyrillic symbols in paths. And I got this error:
[code]

[2017-03-02 18:34] afeena opened #108 "Implement blind sqli emulation"
Expand sqli emulator features with another popular types of sqli
https://www.owasp.org/index.php/Blind_SQL_Injection

[2017-03-02 18:59] afeena opened #109 "Test emulators"
Test the set of emulators with vulnerabilities scanner and find possible problems

[2017-03-06 05:55] afeena opened #110 "Deprecated Low-level Server"
The same as https://github.com/mushorg/snare/issues/55

[2017-03-07 14:23] alem0lars-yoroi opened #111 "LFI pattern error"
LFI module gives error with: `http://localhost:8080/etc/passwd`:

[code]

[2017-03-07 16:32] afeena commented on #111
Hi @alem0lars-yoroi, thanks for the issue! Do you need help or maybe you want to fix it? :)

[2017-03-12 18:50] rnehra01 opened #113 "Query check before any attack emulation"
If any attack is performed via `GET` request, then it should be done using one of the query params, but the code checks for attack even if there are no query param which might lead to problems such as https://github.com/mushorg/tanner/issues/111
So for emulating a `GET` request attack, there should be a check to see whether any query param is present or NOT?

[2017-03-13 09:30] glaslos commented on #113
You are saying there are no attacks using the `GET` method without a query parameter?

[2017-03-13 09:32] rnehra01 commented on #113
As far as I know, if we don't consider `cookies`.

[2017-03-13 09:53] glaslos commented on #113
How about DoS attacks? Can a GET request contain a body?

[2017-03-13 09:55] glaslos commented on #113
What if an attacker accesses a file he is not supposed to access?

[2017-03-13 10:13] afeena commented on #113
The problem in detection. If we have path like /foo=http://bar.com, it will be detected as rfi. Possible solution without checking query part - change pattern

[2017-03-13 10:16] glaslos commented on #113
We can definitely check if there are parameters before applying a patterns that requires a parameter.

[2017-03-13 10:19] rnehra01 commented on #113
So the thing is about `LFI`, `RFI`, `SQLI`, `XSS` supported by tanner.

[2017-03-13 10:26] rnehra01 commented on #113
I think what we can do is apply a query check for the attacks I mentioned. Hopefully in future when tanner supports DoS, we won't do query check for that.

[2017-03-14 14:04] rnehra01 commented on #97
I think this can be closed.

[2017-03-14 14:04] rnehra01 commented on #106
I think this can be closed.

[2017-03-14 14:08] rnehra01 commented on #107
To resolve it, we just have to replace logger.info(string.encode('utf-8')) everywhere in the code?Anything else do we have to do?

[2017-03-14 15:55] afeena commented on #107
Not exactly, we can set encoding while logger setup

[2017-03-14 15:57] #106 closed

[2017-03-14 15:57] #97 closed

[2017-03-14 16:03] rnehra01 commented on #113
Instead of a simple query check, I've thought of a way which will make the code nicer to read.
Currently, we're checking for attack in the whole URL like `.*=((\.\.|\/).*)` for `LFI`.
Now we can extract all the URL query param in a `dict` and pass it to the emulator, which will check for each query parameter, this way we can get rid of extra `.*=` and will just check exact attack. It'll definitely

[2017-03-14 17:26] afeena commented on #113
@rnehra01  You suggest to check the attack type by each emulator? I think we should detect attack type before running specific emulator.

You can try to implement it and we will discuss the result :)

[2017-03-14 17:28] rnehra01 commented on #113
Yeah, I mean that before running emulators, my bad. I'll implement soon.

[2017-03-16 12:31] #105 closed

[2017-03-16 12:35] #107 closed

[2017-03-17 20:43] #111 closed

[2017-03-17 20:43] #113 closed

[2017-03-17 20:43] afeena opened #117 "Update docs"
**Upd:**

- Write docs about config
- <del>Update session docs (cookie)</del>

[2017-03-18 14:41] afeena opened #119 "LFI AttributeError"
Problem with paths like `etc/passwd`
[code]

[2017-03-18 19:14] rnehra01 opened #121 "LFI false positive"
If we pass URLs like `?file=/etc/pas`, emulator still shows a similar result to `?file=/etc/passwd`

[2017-03-18 19:17] afeena commented on #121
In the past we check LFI_ATTACK pattern, not LFI_FILEPATH - maybe this is the problem now?

[2017-03-18 19:20] rnehra01 commented on #121
I think issue is due to this `https://github.com/mushorg/tanner/blob/master/tanner/emulators/lfi.py#L20`.

[2017-03-18 19:23] afeena commented on #121
You are right :)

[2017-03-19 09:20] #119 closed

[2017-03-19 09:20] #121 closed

[2017-03-19 14:53] #47 closed

[2017-03-20 05:40] rnehra01 commented on #109
@afeena Please explain it a bit.

[2017-03-20 11:42] afeena commented on #109
We can use well-known [tools](https://www.owasp.org/index.php/Appendix_A:_Testing_Tools) for vulnerability search in SNARE/TANNER. It helps us understand how TANNER emulate vulnerabilities in "real" pentesting. And maybe during this testing we find some problems. Anyway, I think it will be good sometimes to test TANNER this way.

[2017-03-20 11:52] Philelis opened #123 "Where can I change the logging?"
Hey,
I need a valid json format another application. I turned local logging on and saw:

I don't want to have this b after response_msg and I need to change the output to:

I did not found something like b', only in the test files. I search for that in snare and tanner.
Please help me. :)

[2017-03-20 12:10] afeena commented on #123
Hello @Philelis, the problem is here  https://github.com/mushorg/tanner/blob/master/tanner/server.py#L62
`_make_response` function return byte object.

Do you need help in fixing?

[2017-03-20 12:19] Philelis commented on #123
Yeah that would be great, how can I change this?

[2017-03-20 12:32] afeena commented on #123
You can replace L62 with `session_data['response_msg'] = response_msg.decode('utf-8')`

[2017-03-20 12:34] afeena commented on #123
Do you have problems with validation of the whole `tanner_report` file? I have. Maybe we should pay attention on this problem. Let me know if you have the same problem.
Thank you very much for the issue :)

[2017-03-20 13:04] Philelis commented on #123
Do you mean the tanner log or the local log? On local with your fix there is no b, on tanner log there is it. Do you also have this f... problem with` 'response_msg': '{some correct things}}}' `? I think this a problem contained with the array (every entry between '' or I am false?), but I don't know exactly.

Have you an idea where to change the ' to " ? Another thing for json :D, otherwise it is

[2017-03-20 13:08] afeena commented on #123
I meant local log. When I tried to validate it - I had errors.

Yeah, I want to make local log file completely valid json. Replace `'` with `"` and so on.

[2017-03-20 13:12] Philelis commented on #123
Yeah I see my two problems. One is the `'` the other one is after `response_msg:` and at the and of the`{ `after `response_msg`. (Often ends with version and number or `}}}`)

[2017-03-20 13:44] afeena commented on #123
@Philelis It will be great if you take a look at the pr #124 and give me feedback

[2017-03-20 14:00] Philelis commented on #123
:/
Tested it with snare and now snare shows me that error when I try to use it with tanner:
[code]

[2017-03-20 15:02] afeena commented on #123
It's strange, because I don't have this error. Did you make any local changes?

[2017-03-20 15:10] Philelis commented on #123
I know where the error is!
If the log is empty I got some error, otherwise it works. Now I will have a look on your outputs ;)

[2017-03-20 15:39] Philelis commented on #123
They look really good. The first one should begin with `[`. If your log is empty it don't work, but if you have only `[` in this file it will work. Tomorrow I will test it again.

[2017-03-20 18:21] rnehra01 commented on #109
I didn't get it. I mean, do we've to test it manually against some tool such as OWASP-ZAP?

[2017-03-20 18:54] afeena commented on #123
Sorry, I didn't mention that I deleted old logs and started with new one.
When you don't have a file, TANNER create initial file with `[]` object, on the next step, last char will be deleted and new json part will be added with `]` at the end.
If you will have any problems - just let me know ;)

[2017-03-20 19:23] afeena commented on #109
@rnehra01 Yes, you can use any tools you want. The main purpose - make sure that scanner detect vulnerabilities from our set of emulators (RFI, LFI, XSS, SQLi) :)

[2017-03-21 07:28] Philelis commented on #123
Hey,
I tried it again. If you save it on existing data no problem, also on a new file no problem. Only if you already have an empty file you got my error :D
Good fix thanks :)
If you want to use it with Elastic you should change `out.write(",") ` to `out.write("\n") `, but your solution is full json valid 👍

[2017-03-21 08:58] Philelis commented on #123
@afeena I don't want to have this `[` at the beginning is there any possible to write direct into the file without an 500er error? I tried to delete `json.dump([], out)` or to change the line above.

[2017-03-21 09:14] Philelis commented on #123
Found it, I only have to check it now in the app :). The logs show me the output that I want to see.

[2017-03-21 09:32] #123 closed

[2017-03-21 20:21] X4mp commented on #85
found 2 approaches on http://stackoverflow.com/questions/15147713/python-log-to-multiple-log-files

I will try the addHandler with a FileHandler first.

[2017-03-22 13:53] rnehra01 opened #129 "Missing tests"
Test are missing for `SQLI`, `XSS` and `LFI` in for `server.py`.

[2017-03-22 13:53] rnehra01 commented on #129
@afeena Assign me this issue.

[2017-03-22 16:48] afeena commented on #129
Maybe it's a good idea to make tests for base emulator? And test the detection and payload there? Now we don't have any tests for base emulator.

[2017-03-22 16:50] rnehra01 commented on #129
Yeah, that sounds better.

[2017-03-22 18:30] rnehra01 commented on #117
@afeena Are you talking about https://github.com/mushorg/tanner/blob/master/tanner/config.py ?
By the way, what does this file https://github.com/mushorg/tanner/blob/master/docs/source/conf.py for ?

[2017-03-22 18:36] afeena commented on #117
@rnehra01 `conf.py` - it's a config for [sphinx docs](http://www.sphinx-doc.org/en/stable/config.html). Yes, I'm talking about our config. In docs we should describe values which can be set in config file and mention the possibility to set only separate sections which you want to change and so on.

[2017-03-22 19:49] rnehra01 commented on #108
Working on it.

[2017-03-23 10:00] rnehra01 opened #130 "SQLI emulator don't support string parameter"
Current SQLI emulator doesn't support string parameter. If we pass a valid attack like `?username=something" UNION SELECT 1,2,3,4 --`, then it produces an unexpected error.
Though it should be a successful attack.

[2017-03-23 10:00] rnehra01 commented on #130
@afeena I can fix this. Assign me

[2017-03-23 11:19] afeena opened #131 "Sqli dummy data"
We can use this library for making our dummy data. In this case, this data will look more genuine.
https://github.com/lk-geimfari/elizabeth

[2017-03-23 11:20] rnehra01 commented on #131
I'll implement this by tonight.

[2017-03-24 06:34] #131 closed

[2017-03-26 14:14] rnehra01 commented on #117
@afeena done the first one too.

[2017-03-26 15:23] #117 closed

[2017-04-01 16:51] #129 closed

[2017-04-01 19:57] #130 closed

[2017-04-05 13:39] Philelis commented on #100
I think all this types should also be in the logfiles as severity. Do you agree with me?

[2017-04-10 19:25] afeena opened #137 "Tests runtime error"
When I was writing test for the new server I faced the problem with loops.
```RuntimeError: There is no current event loop in thread 'MainThread'.```
It has been observed since this commit https://travis-ci.org/afeena/tanner/builds/217564058.
One of  the approach to handle this - using separate loop for every test. But we should have the possibility to pass loops everywhere.

[2017-04-10 19:28] afeena commented on #110
In process https://github.com/afeena/tanner/tree/feature/new-server

[2017-04-10 19:30] afeena commented on #100
@Philelis Sure, I completely agree with you, thanks :)

[2017-05-10 19:40] afeena commented on #137
#136

[2017-05-10 19:40] #137 closed

[2017-05-10 19:41] afeena commented on #86
#90 #92

[2017-05-10 19:41] #86 closed

[2017-05-14 13:44] afeena opened #139 "Default database type"
When I start tanner with default config sqli emulator I get exception. It can be curious if someone starts tanner in the first time.
[code]
So we can
1) change default (mysql-->sqlite)
2) Update readme: provide info for setting up mysql db :)

[2017-05-16 15:47] rnehra01 opened #141 "Change page(location) for payload injection"
Currently, each payload is injected on the `index.html` page but that doesn't happen in real scenario always. So payload should be injected into the appropriate (page)location.

[2017-05-16 19:49] #85 closed

[2017-05-23 16:51] afeena commented on #139
#140

[2017-05-23 16:51] #139 closed

[2017-05-24 14:50] glaslos opened #143 "SQL injections sample"
[code]

[2017-06-04 10:20] afeena opened #146 "SQLi check post exception"
[code]

[2017-06-05 02:42] rnehra01 commented on #143
@glaslos please explain a bit.

[2017-06-06 11:39] glaslos commented on #143
Seen this SQL injection in the wild (`profileIdx2=` parameter`). Thought it might be useful for testing.

[2017-06-07 11:39] rnehra01 opened #148 "Improve base emulator architecure"
The current base emulator has become messy due a bunch of different emulators with different ways of working. Here I'm proposing a solution to handle different emulators in a standard way.
Each emulator will have a `scan` method that detects the presence of the corresponding attack in `param value` passed to it.
In the base emulator, this scan method will be called for each emulator for each `GET`

[2017-06-07 11:39] rnehra01 commented on #146
@afeena We can close this.

[2017-06-07 13:02] #146 closed

[2017-06-08 05:15] afeena commented on #148
I like the idea :) Go for it :)

[2017-06-09 08:32] glaslos commented on #148
Do you think there will be scenarios where an emulator requires multiple parameters at the same time to do a detection?

[2017-06-09 09:03] rnehra01 commented on #148
I've seen some scenarios where we need to make an attack using multiple parameters a the same time due to certain checks. But in these emulators, there are no checks so simply any injection can be done using one parameter.

[2017-06-11 07:30] rnehra01 opened #150 "Add support of cookies for attacks"
With the addition of functionality of cookies(​ #112​ ), we can now check attacks
in cookies too.

[2017-06-12 08:20] afeena commented on #110
#138

[2017-06-12 08:20] #110 closed

[2017-06-12 08:36] #82 closed

[2017-06-12 08:36] #87 closed

[2017-06-13 07:40] rnehra01 commented on #148
#149

[2017-06-13 07:40] #148 closed

[2017-06-14 15:38] afeena opened #151 "Docker freezing"
I make small load testing for cmd executor. I use this command
`cat /dev/urandom`
After that, tanner stops answer any requests.

Docker now is not async. So, this command never stops and never returns the result and tanner waits for the result in blocking mode. We can run docker functions in [executor](https://docs.python.org/3/library/asyncio-eventloop.html#executor)

[2017-06-16 17:01] rnehra01 opened #154 "Padding Oracle Emulator"
Padding oracles are famous in cookie-based attacks.
The problem is that we need to send an encrypted cookie first to implement this type of attack. Thus this emulator doesn't fall under the category of normal `detect and emulate` category, so what I'm thinking is that we'll send an encrypted cookie if user sends us some login data and we'll encrypt that data (maybe username and some user id someth

[2017-06-17 18:11] #151 closed

[2017-06-17 18:33] afeena commented on #154
I agree that we should set some encrypted cookie. But don't we need some login options for that? We can't set such cookie as username till person log in. So we should emulate login (but how to login without having an account?) Moreover, so many possible sites can be cloned. Some of them have login page, but others don't. We should think about all possible variants and choose the best. To be honest

[2017-06-17 18:50] rnehra01 commented on #154
I've put some thought into it, and I think we can make it more general. Our final aim is to make an emulator that attracts attacker, so we could set a `cookie` that stores `normal_user` and `admin` + we could store `ip` or something. So the attacker will try to make the cookie to `admin`.
I'm searching for websites that keep encrypted cookie, though there is no login, scenarios where there is poll

[2017-06-17 18:57] rnehra01 commented on #150
#152 closes this.

[2017-06-17 18:57] #150 closed

[2017-06-17 19:01] rnehra01 commented on #154
@afeena If you think we should give it some more time, then we can put it on hold and implement it at last. And we can make it open for discussion so that we can get more ideas.

[2017-06-18 20:13] afeena commented on #154
@rnehra01 Yeah, we can start working on other tasks till we have understanding how to implement this task best :)

[2017-06-19 06:48] rnehra01 commented on #1
@afeena I think current LFI emulator emulates `/proc`, and it can be made more effective using docker as implemented in `CMD emulator` (https://github.com/mushorg/tanner/pull/144)

[2017-06-19 07:32] rnehra01 commented on #141
@afeena We can use this `https://github.com/mushorg/tanner/blob/master/tanner/emulators/xss.py#L33`, I guess for all other emulators. Just wondering, why didn't it was used earlier?

[2017-06-19 07:48] rnehra01 commented on #20
https://github.com/mushorg/tanner/issues/20#issuecomment-225129836
^^ What do we need to achieve? DO we need to bypass Chrome XSS Auditor?

[2017-06-19 10:21] afeena commented on #1
@rnehra01 I like docker, but I worried a bit about performance. Do you make tests with loading lots of containers simultaneously? Or maybe we should use one container for all attackers?

[2017-06-19 17:46] rnehra01 commented on #1
Using the script `https://pastebin.com/QLsu8MRy`, I got this result `https://pastebin.com/5K2vSSh0`. So, I guess docker is efficient.

[2017-06-19 19:18] afeena commented on #1
Well done :) But I meant the resources of the host machine, we should remember about that, good reading https://docs.docker.com/engine/admin/resource_constraints/#limit-a-containers-access-to-memory

[2017-06-19 19:23] afeena commented on #141
@rnehra01 Yes, I think we can :)

[2017-06-20 08:44] rnehra01 commented on #1
Okay, actually my initial doubt was that why this issue still open, although we have some sort of `/proc` emulation already.
So if you think docker can be inefficient, we can think of something else.

[2017-06-20 08:47] rnehra01 commented on #1
As you suggested,  we can do one thing, we can provide an option to `host/user`, to use `1 for all attackers` or `one for each attacker` in the config, so that user can do it as per available resources.

[2017-06-20 10:22] afeena commented on #1
@rnehra01 I like the idea to make it manageable via config :)

[2017-06-20 17:09] rnehra01 commented on #1
I think we forgot one thing, that in LFI files are meant for reading purpose only, so we can use a single container.

[2017-06-23 19:24] afeena opened #160 "Docker affects other containers"
When I have some containers running and then run cmd injection, tanner removes my containers and I have only attacker container in the list.

**Upd**: It might be on the delete step. I created container and ran cmd injection, but containers was in the list. but after some time, all container were disappeared.

[2017-06-24 10:28] rnehra01 commented on #1
@afeena I guess we can close this?

[2017-06-24 10:46] rnehra01 commented on #160
@afeena Are you saying that some `containers` that you run manually, tanner removes them too? Because as far as I know, Tanner removes only those containers which are related to expired sessions.

[2017-06-24 12:04] afeena commented on #160
@rnehra01 Yes, I manually started container, ran the tanner and made cmd execution. Then I ran `docker ps` and didn't find my container. I made about 5 tests and got the same result.

[2017-06-24 12:17] afeena commented on #160
I don't know the _real_ reason why containers were deleted, but I think we should find this reason.

[2017-06-24 12:30] rnehra01 commented on #160
Could you try 'docker ps -a -q' ?

On 24 Jun 2017 5:47 p.m., "Evgeniya" <notifications@github.com> wrote:

I don't know the *real* reason why containers were deleted, but I think we
should find this reason.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/mushorg/tanner/issues/160#issuecomment-310835209>, or mute
the thread
<

[2017-06-24 12:32] rnehra01 commented on #141
#155

[2017-06-24 12:32] #141 closed

[2017-06-24 21:36] afeena commented on #160
I don't see the big difference between `docker ps -a` and `docker ps -a -q` :)

[2017-06-25 11:22] rnehra01 commented on #160
@afeena I'm unable to reproduce this.
This is how I tried:
First, start a new container using `docker run -it busybox`
Start Tanner and Snare, browse `localhost:8080/?a=ls`
After that, I run `docker ps -a` and found two containers
After that I waited till `KEEP_ALIVE_TIME` seconds, and browse `localhost:8080/?a=ls`
Then run `docker ps -a`, again found two containers.

[2017-06-26 11:40] afeena commented on #160
http://i.imgur.com/KCO0CEP.png

[2017-06-26 11:42] afeena commented on #160
Just print deleted containers in tanner.
I think it's a good proof of this bug. But I don't have clear algorithm to reproduce it.
<img width="871" alt="conemu64_2017-06-26_16-34-53" src="https://user-images.githubusercontent.com/8390928/27537654-3778444e-5a8e-11e7-8525-600ad0584d98.png">
<img width="370" alt="conemu64_2017-06-26_16-35-09" src="https://user-images.githubusercontent.com/8390928/2753

[2017-06-26 20:15] afeena commented on #160
The problem in https://github.com/mushorg/tanner/blob/master/tanner/session.py#L77
We don't check `self.associated_env`. It can be `None` so when we try to list containers with filter `name=None` we get unexpected behavior. Solution - check the variable for None :)

Btw, maybe it is better to use [`get` ](https://docker-py.readthedocs.io/en/stable/containers.html#docker.models.containers.Container

[2017-06-27 07:16] rnehra01 commented on #160
I initially tried with `get` but the thing is, it raises an Exception if the container is NOT found, so it looks weird to do a task based on Exception.
I think we should fix it by checking `None`.

[2017-06-27 08:30] glaslos commented on #160
Generally a lot of things in Python are based on raising and catching exceptions, so I would see it as valid solution.

[2017-06-27 11:53] rnehra01 opened #163 "Add new features to tanner api"
Proposed features:
1. Get all sessions related to a `snare-uuid`
2. Get a session info from its `sess-uuid`
3. Get all the sessions from a given
   - `IP`
   - `owner-type`
   - `attack-type`
   - `user-agent`

Other ideas are welcomed.

[2017-06-27 13:13] #160 closed

[2017-06-28 06:17] afeena commented on #163
I'd also suggest you to add the possibility to get sessions by time periods.
And maybe combined statistics by snare uuid: number of sessions, number of attacks, average session time, most frequent attack type etc

[2017-06-28 06:23] afeena opened #164 "Cleanup docker containers on shutdown"
If we stop tanner before deleting old containers, we should delete them on the shutdown stage, in other case, we get something like this:

![image](https://user-images.githubusercontent.com/8390928/27623013-d523aac4-5bf3-11e7-9857-f455d2014495.png)

[2017-06-28 11:00] rnehra01 commented on #163
I didn't understand the combined statistics thing, could you explain it a bit?

[2017-06-28 11:05] afeena commented on #163
I meant that we could get statistics by groups. e.g. one snare uuid can have lots of separate sessions, so we can calculate such values as:
- get number of sessions
- get average duration of the all sessions
- get sessions with attacks
- get most frequent attack
etc.

[2017-07-02 11:18] rnehra01 opened #167 "Session's Attack type attribute always remains empty"
The problem is at `https://github.com/mushorg/tanner/blob/master/tanner/session.py#L62` where a `dict` is compared with `str`.

[2017-07-02 11:37] rnehra01 commented on #164
Apart from containers, we also have DBs. So I'm thinking of deleting all sessions before the shutdown, which will delete containers and DBs.

[2017-07-02 19:16] #167 closed

[2017-07-03 15:54] afeena opened #170 "Tanner api auth"
Tanner api is completely open, so, if someone knows the address of the tanner server, he or she can get the list of all snare's uuids and info about all sessions.

It might be suitable to add api keys:
1) Client key for people who use someone's tanner server (e.g. based on snare uuid which is known for client)
2) Admin key which gives full access to info

[2017-07-05 19:09] rnehra01 commented on #164
@afeena Anything you want to say about my fix?

[2017-07-05 19:58] afeena commented on #164
I completely agree that we should delete DBs too :)

[2017-07-07 12:54] rnehra01 commented on #163
#166

[2017-07-07 12:54] #163 closed

[2017-07-08 10:10] glaslos commented on #170
For now I would make it accessible from localhost only.

[2017-07-10 13:39] afeena opened #172 "Flexible set of emulators"
Right now emulators set is strict and can't be edited by the user. But some arch don't support e.g. docker. So it can be hard to use tanner on such machines. I suggest make the emulators set flexible (set emulators from config)

[2017-07-24 11:57] afeena opened #179 "Web request freezing"
When I tried to get sessions, tanner web freezing. I've found that it might be because of the large number of sessions in snare_uuid (42297 in list). When we make request to redis, it takes range from 0 to -1 (end) https://github.com/mushorg/tanner/blob/develop/tanner/api/api.py#L43  I set the count as 10 and everything works well.
I suggest to request less sessions per request.

[2017-07-25 05:00] rnehra01 commented on #179
@afeena Could you verify the same issue happens in the case of API too.

[2017-07-25 08:39] afeena commented on #179
You can use our develop server for testing :)

[2017-07-31 07:43] #164 closed

[2017-07-31 07:43] #172 closed

[2017-08-01 08:06] afeena commented on #179
#181

[2017-08-01 08:06] #179 closed

[2017-08-01 08:07] afeena commented on #3
Basic UI features was implemented in #173. If we need some new features - It's better to open new issue.

[2017-08-01 08:07] #3 closed

[2017-08-06 13:39] rnehra01 opened #182 "PHP Code Injection"
An emulator that can emulate PHP code injection vulnerability.(https://www.owasp.org/index.php/Code_Injection)

[2017-08-15 14:28] rnehra01 opened #185 "CRLF Emulation"
This type of injection arises when unfiltered user data containing `\r\n` are passed to headers.

[2017-08-17 13:49] standa4 opened #187 "Example of the INI config file"
Hello,

I would like to ask for the example of the ini config file. More specifically I would like to know how to write the "emulator_enabled:" values in the section EMULATORS. I do not know how to rewrite it from the json.

Thank you.

Stanislav

[2017-08-17 19:29] afeena commented on #187
Hi Stanislav, thanks for the issue.
I think we should fix it in tanner. You are right, it's hard to rewrite this section from json. I hope we will fix it soon.

[2017-08-18 16:50] afeena opened #189 "Session's delete problem"
In develop branch I've got this error:
[code]

[2017-08-19 13:03] afeena opened #190 "Sqlite result problem in new communication system"
In develop branch I've found the problem in result.
```/hide?goto=(select(0)from(select(sleep(10)))v)/*%27%20(select(0)from(select(sleep(10)))v)%20%27%22%20(select(0)from(select(sleep(10)))v)%20%22*/&id[]=14619725```
Such query and similar gives the error:
[code]

detection result:
[code]

[2017-08-21 13:14] standa4 opened #192 "Logging to hpfeeds"
Hello,

I would like to ask if you plan to add support for logging to hpfeeds.

Thank you.

Stanislav

[2017-08-21 17:51] #187 closed

[2017-08-22 08:08] rnehra01 commented on #189
Could tell me how to reproduce it?

[2017-08-22 13:20] standa4 opened #196 "Error when reading INI config file - convert string to int type"
Hello,
I found the bug in tanner. When you specify the config file the tanner ends with the following error:

[code]

The config parser reads the values as string so the numerical values should be converted to proper type or read with use of getint function.

Thank you.

Stanislav

[2017-08-22 13:56] afeena commented on #189
I made a lot of requests from different ip's. I have an idea why this problem may occurs: the delete process runs on request. When tanner tries to delete session, it can be already deleted by another deleting process of the other request (because delay between requests too small)

[2017-08-23 03:54] afeena commented on #196
Hi Stanislav, I've made a hot fix for you :) #197
Thanks!

[2017-08-26 18:52] afeena commented on #190
#193

[2017-08-26 18:52] #190 closed

[2017-09-06 12:30] standa4 commented on #192
Hello,

I have created pull request for this feature: https://github.com/mushorg/tanner/pull/199

Stanislav

[2017-10-03 22:04] #196 closed

[2017-10-03 22:10] afeena opened #200 "Return tanner version by request"
For new tanner-snare communication it's needed to check tanner version on the snare side.
So tanner should return version by request. e.g. `/version'

[2017-10-08 06:58] rnehra01 commented on #200
Currently, Tanner sends `version` in `detection` field. So once we'll implement get `version` by requests `/version` I think we can remove `version` from `detection` field as it doesn't fit well there. Maybe we can make a new field named `version` here `https://github.com/mushorg/tanner/blob/master/tanner/server.py#L58`

[2017-10-12 07:43] Dudaew opened #201 "Config error"
Every time trying to specify any configuration (e.g tanner/tanner/tests/test_config.py) there is such output

 (most recent call last):
  File "/usr/local/bin/tanner", line 4, in <module>
    __import__('pkg_resources').run_script('Tanner==0.4.0', 'tanner')
  File "/usr/lib/python3/dist-packages/pkg_resources/__init__.py", line 739, in run_script
    self.require(requires)[0].run_script(script_nam

[2017-10-12 07:45] #201 closed

[2017-10-12 07:54] Dudaew opened #202 "configparser error"
Every time trying to specify any configuration (e.g tanner/tanner/tests/test_config.py) there is such output

  File "/usr/local/bin/tanner", line 4, in <module>
    __import__('pkg_resources').run_script('Tanner==0.4.0', 'tanner')
  File "/usr/lib/python3/dist-packages/pkg_resources/__init__.py", line 739, in run_script
    self.require(requires)[0].run_script(script_name, ns)
  File "/usr/lib/py

[2017-10-12 07:55] #202 closed

[2017-10-12 07:57] Dudaew opened #203 "configparser error in configure file"
Every time trying to specify any configuration (e.g tanner/tanner/tests/test_config.py) there is such output
[code]

what is the trouble?
Thank you.

[2017-10-12 16:10] afeena commented on #203
Hi @Dudaew
Could you please show me your config?

[2017-10-13 12:18] Dudaew commented on #203
[code]
I`m not a python expert, so couldn`t find appropriate solution

[2017-10-13 18:54] afeena commented on #203
This is the unittests for config, not a config. How you tried to setup config?

[2017-10-17 06:02] standa4 commented on #192
Pull request was merged. Thank you.

[2017-10-17 06:02] #192 closed

[2017-10-17 06:46] Dudaew commented on #203
So, as far as I understood, I have to write config file by my own, right? There are no ready config,

[2017-10-17 06:56] Dudaew commented on #203
As far as I understood, I have to write config file by my own, right? Or there is ready config, but I just could not found it?

[2017-10-17 22:05] afeena commented on #203
If you want to define you own parameters, you can define INI config and pass `--config` parameter to the tanner.
We don't have sample config file, but you can look at the docs https://github.com/mushorg/tanner/blob/master/docs/source/config.rst

If you still have a questions, just ask :)

[2017-10-20 19:20] Dudaew commented on #203
Thank you) Now I know the way to move

[2017-10-20 19:20] #203 closed

[2017-11-02 14:43] nsmfoo opened #204 "Move documentation to readthedocs.org"
To make the extra documentation that is available more easily accessible. I suggest a move to readthedocs.org

[2017-11-06 08:47] nsmfoo opened #207 "RFI emulator does not handle storage of ftp downloaded files correctly"
When triggering the RFI emulator using an FTP link, like: ?id=ftp://ftp.sunet.se/robots.txt the downloaded file is not stored in the /opt/tanner/files but rather in the tanner directory

[2017-11-06 12:23] nsmfoo commented on #20
Hi,

I think this subject might suffer from some misunderstandings (or maybe it's me that missing something) =)

Chrome, IE do have some built in XSS protection. This is also why "people" tend to use Firefox when performing application assessments, this was noted earlier in the thread.  Other common ways is to utilise a vulnerability scanner, that "just" (there are of course variants that instrume

[2017-11-06 13:10] nsmfoo commented on #189
I can just acknowledge that I'm getting the same errors in the tanner.err log. Sadly no more information to add at this time other then that.

[2017-11-06 20:37] afeena commented on #189
@nsmfoo thanks, at least I know that it's not a problem of a particular machine :)

[2017-11-08 20:00] afeena commented on #207
#208

[2017-11-08 20:00] #207 closed

[2017-11-13 16:07] afeena opened #211 "Dependency management"
New major versions of libraries can broke the build. I think of using `pipenv` for dependency management, but maybe there is a better way. Question for discussion

[2017-11-13 22:14] glaslos commented on #211
You can also set a required version in the requirements.txt: `youpackage==1.0.0`

[2017-11-14 16:16] afeena commented on #211
@glaslos Yeah, you're right, it is the easiest way :)

[2017-11-16 08:20] nsmfoo opened #215 "Include default config"
As an improvement it would be to include a basic config file, maybe built on the default values that is being used if no config is specified?

It could be done so that during first run, the built-in config is dumped to file.

I think this will beneficial as it will make it easier to quickly start exploring all the feature of Tanner, like MongoDB logging etc

[2017-11-28 18:44] glaslos commented on #200
Closed with #217

[2017-11-28 18:44] #200 closed

[2017-11-29 09:11] afeena opened #218 "Connection pool problem"
[code]

[2017-11-29 09:14] glaslos commented on #218
Seems like we fail to close some redis connections.

[2017-12-04 13:58] afeena opened #220 "Config data types"
In config there are `True` and `False` values, which are `strings` https://github.com/mushorg/tanner/blob/master/tanner/config.py#L14,
but for proper if statements we need `bool` values, e.g here https://github.com/mushorg/tanner/blob/master/tanner/emulators/base.py#L14

Currently switching off emulators doesn't affect emulators set.

[2017-12-17 23:18] afeena commented on #20
@nsmfoo I think you are right, we can close this issue and in case of any other questions we will create new one :)

[2017-12-29 21:10] #220 closed

[2018-01-26 08:36] viskey98 opened #225 "Tanner not starting"
After following all the steps given in README.md, following error occurs,
Error :

      _________    _   ___   ____________
     /_  __/   |  / | / / | / / ____/ __ \
      / / / /| | /  |/ /  |/ / __/ / /_/ /
     / / / ___ |/ /|  / /|  / /___/ _, _/
    /_/ /_/  |_/_/ |_/_/ |_/_____/_/ |_|

Debug logs will be stored in /opt/tanner/tanner.log
Error logs will be stored in /opt/tanner/tanner.err
T

[2018-01-26 08:42] afeena commented on #225
Hi @viskey98 , you are probably have problems with your docker. Please, run `docker ps -a`  and if docker is not running, follow this manual https://docs.docker.com/engine/admin/systemd/

[2018-01-26 11:58] viskey98 commented on #225
1. I got docker running after reading this : https://www.ptrace-security.com/2017/06/14/how-to-install-docker-on-kali-linux-2017-1/
2. Then I got redis server running after reading this : https://www.ptrace-security.com/2017/06/14/how-to-install-docker-on-kali-linux-2017-1/
Now it works fine.
@afeena Thank you!

[2018-01-26 11:58] #225 closed

[2018-01-30 22:38] afeena commented on #100
#184

[2018-01-30 22:38] #100 closed

[2018-01-30 22:38] #185 closed

[2018-01-30 22:38] afeena commented on #182
#183

[2018-01-30 22:38] #182 closed

[2018-01-30 22:38] #108 closed

[2018-01-30 22:39] #20 closed

[2018-01-31 16:29] viskey98 commented on #218
@afeena Can you tell me how to reproduce this problem :)

[2018-01-31 16:34] afeena commented on #218
@viskey98 to be honest, I don't know how to reproduce this bug. That is why it can be hard to fix. Maybe someone will have it again and we wil get more info.

[2018-02-04 14:34] glaslos commented on #218
@viskey98 if you are interested in exploring this issue, have a look where we connect to Redis and if there are any exceptions/error states that might leave a connection open and create a new one.

[2018-02-08 03:10] viskey98 commented on #218
I am working on this issue :)

[2018-02-13 18:33] mzfr opened #227 "Errors when testing with httprint"
I was testing httprint on Snare for issue https://github.com/mushorg/snare/issues/7.

[code]

This occurred when I ran this command on httprint: `httprint -h 127.0.0.1:8080 -s signatures.txt -P0`

[2018-02-13 18:37] mzfr commented on #227
[code]
@afeena  was able to figure out that tanner cannot handle this request so it returns nothing for dorks

[2018-02-16 17:44] viskey98 commented on #204
I would like to work on this issue, but can anyone tell me how to start with? I haven't had any experience with readthedocs.org

[2018-02-20 14:51] glaslos commented on #204
I recommend starting with creating a test documentation and then adapt Tanners documentation.

[2018-02-20 14:56] glaslos commented on #204
It might need some cleaning, but it seems to work: http://tanner.readthedocs.io/en/latest/

[2018-02-20 14:56] #204 closed

[2018-03-01 15:50] viskey98 commented on #218
@glaslos  Can you please explain a bit, why could this happen. Because when I went through the code, I found that we delete the connections when they expire. Does this mean the pool size is not sufficient or is there something else which is causing this problem?

[2018-03-11 09:47] viskey98 opened #234 "Travis Error in ftp_download"
In the latest PRs travis is failing in test for ftp_download.
`test_ftp_download (tanner.tests.test_rfi_emulation.TestRfiEmulator) ... FAIL`
I tried to simulate this test in my machine and test_ftp_download worked properly. So this error should be caused in travis's side. I think travis is unable to connect to the ftp server.

[2018-03-11 09:50] afeena commented on #234
The better solution for this is to isolate our functionality ftp lib functionality, so we need to mock ftp functionality

[2018-03-11 09:54] viskey98 commented on #234
Please explain a bit, how to mock? So that I can do it on my own

[2018-03-11 10:19] afeena commented on #234
@viskey98 look at this https://docs.python.org/3/library/unittest.mock-examples.htm
If you have any problems, I will be glad to help :)

[2018-03-13 06:55] viskey98 commented on #189
@afeena  this issue is fixed by #231

[2018-03-13 15:03] viskey98 opened #235 "Tanner-web not starting"
I tried running tanner-web inside tanner folder, I get this following error:
[code]

[2018-03-13 15:04] viskey98 commented on #235
@afeena I tried running inside the tanner folder, I still get this error

[2018-03-13 15:25] mzfr commented on #235
@viskey98 just by having look I think you are missing some directory in there.
Most probably `/tanner/web/static`

[2018-03-13 15:29] afeena commented on #235
I run in the root of the tanner directory and it works fine for me. Please try to run it from folder, where you can access `/tanner/web/static`

[2018-03-13 15:40] viskey98 commented on #235
I think there was some trouble while setting up tanner, I again ran
`python3 setup.py install` and then ran tannerweb in tanner's root folder, it worked .

[2018-03-13 15:46] viskey98 commented on #235
@afeena Now, I have a snare instance connected to the tanner and also tannerweb running. How to access the web UI of tanner? ie the one where i can see the snare sessions?
 I tried using http://0.0.0.0:8091/ it simply says a message
`Tanner Web`

[2018-03-13 15:50] mzfr commented on #235
@viskey98  see [this](http://tanner.readthedocs.io/en/latest/api.html)

[2018-03-14 11:02] viskey98 commented on #235
@mzfr Thank you

[2018-03-14 13:30] #235 closed

[2018-03-17 21:09] afeena commented on #170
@glaslos We have a discussion with @viskey98 about this task and I would like to ask your opinion - should we try to implement it later somehow?

[2018-03-21 12:45] viskey98 commented on #211
@afeena I pipenv would be a good way to implement both dependency management as well as creating a virtual environment for the dependencies. I think we can implement this on SNARE's side as well, what's your opinion?

[2018-03-24 15:09] xandfury opened #237 "Install tanner from pypi"
I think users should have an option to install `tanner` from `pypi`.

[2018-03-24 15:56] xandfury commented on #211
This might be a good opportunity to explore [`tox`](https://tox.readthedocs.io/en/latest/index.html) as well. tox can check multiple environments and can be integrated with travis. See [here](https://stackoverflow.com/questions/37016688/how-to-run-tox-with-travis-ci?utm_medium=organic&utm_source=google_rich_qa&utm_campaign=google_rich_qa)

This is like automating what @afeena did, for every pull r

[2018-03-25 04:17] viskey98 commented on #237
I think this can be done :)
@afeena what do you think about this issue?

[2018-03-25 04:47] xandfury opened #238 "Logging exceptions better"
Instead of using `logging.error` use `logging.exception`. [`logger.exception`](http://docs.python.org/library/logging.html#logging.Logger.exception) will output a stack trace alongside the error message. With `logging.error` only the formatted error message would display and the traceback would be thrown away.

More info: https://stackoverflow.com/questions/5191830/how-do-i-log-a-python-error-with

[2018-03-25 05:35] xandfury commented on #238
I also couldn't get my head around ***not*** using module level logging such as [here](https://github.com/mushorg/tanner/blob/d55cdda1a6d60f39e3f0d027b1efda2582706a22/tanner/utils/docker_helper.py#L10). Is there a specific reason for doing so?

[2018-03-26 16:12] mzfr opened #240 "Error in running tanner"
Until yesterday everything was working fine but not whenever I do `sudo tanner` I am getting the following error:
[code]

[2018-03-26 16:56] afeena commented on #240
Right now I can't reproduce your problem
I deleted all installed tanner, download master branch and then install again. It works ok.

Could you please describe a bit more:
Have you run master branch? Do you have any changes which can affect run? Which OS do you use? pip version?

[2018-03-26 17:17] mzfr commented on #240
I haven't made any changes to my master branch.
I even tried `git pull` to see if there was any changes required but it showed `Already up to date`.
I use KDE. pip version is 9.0.1

[2018-03-27 13:20] mzfr commented on #240
@afeena  I tried but could not get it working so I took the easy way out and deleted installed tanner and downloaded the master branch and then install it again.

Should I close this issue or should I keep it open if someone would like to investigate the issue ?

[2018-03-28 22:07] afeena commented on #240
@mzfr since installation with master works well, I think we can close it. It can be very host-specific issue. In any case - we can open new one :)

[2018-03-28 22:07] #240 closed

[2018-03-28 22:10] afeena commented on #238
@xandfury Good point with logging exception :) Would you like to implement it? :)

[2018-03-29 02:33] viskey98 commented on #234
Fixed by #236

[2018-03-29 02:33] #234 closed

[2018-03-29 02:59] xandfury commented on #238
Yeah sure :-) I have been working on a PR; Will send to you for reviewing soon.

[2018-03-31 15:03] anjali-shukla opened #241 "not able to run tanner web"
I have installed docker and everything needed for tanner. Tanner and Tannerapi is running but tannerweb is giving error. The screenshot of error is attached below.
![tannerweb](https://user-images.githubusercontent.com/35517694/38164448-a89ec0ac-3522-11e8-8b7f-a8b31f870925.png)

[2018-03-31 16:30] viskey98 commented on #241
@anjali-shukla Have you installed the requirements using `pip3 install -r requirements.txt` ? Because if you have a different version of aiohttp installed it might cause some trouble.

[2018-04-01 08:01] glaslos commented on #237
Tanner installation is rather complex. Maybe providing a Docker image is the better solution?

[2018-04-01 09:38] glaslos commented on #170
How about generating a token when you start Tanner that you can use for authentication with the API. The token will be shown on the terminal. We could also look into OAuth using Google, Twitter or GitHub?

[2018-04-01 10:38] xandfury commented on #237
@glaslos Works for me :+1:  We'll need to account for nested docker containers - for tanner.

Optionally there could be a `docker-compose` quick-install for running tanner in conjunction to snare; Something I'll love to see.

[2018-04-01 20:14] afeena commented on #241
@anjali-shukla Thanks for the issue. It was a problem with dependency. Now should be fixed by #243 - please, check it :)

[2018-04-02 07:47] anjali-shukla commented on #241
yeah , it worked fine. Thank you

[2018-04-02 07:47] #241 closed

[2018-04-02 14:11] anjali-shukla opened #245 "How to test if emulators are working?"
Can anyone help me  check if emulators are working fine??
How to know that they are configured properly??
how to see the dummy database created??
Do i have to edit the config file for mysql database ??

[2018-04-02 14:13] anjali-shukla commented on #245
I want to know the input test sequence for each vulnerability to check if the tanner responds properly.

[2018-04-02 14:14] mzfr commented on #245
hey @anjali-shukla have you gone through the [Tanner docs](http://tanner.readthedocs.io/en/latest/). They have some info about the emulation too.

[2018-04-03 05:21] anjali-shukla commented on #245
yeah , i went through them. But i have no idea what to give input to test for each attacks?
How to check if database is being created ?

[2018-04-03 09:49] anjali-shukla commented on #245
tanner is not creating the database.
Any help??
![db_error](https://user-images.githubusercontent.com/35517694/38242389-50e17594-3752-11e8-955a-d5fad95f043a.png)

[2018-04-03 09:53] afeena commented on #245
@anjali-shukla Have you changed your config according to your database credentials?

[2018-04-03 10:12] anjali-shukla commented on #245
I just have to change the password right ??
user is root only. and after that i will have to run
sudo python3 setup.py install

[2018-04-03 13:20] anjali-shukla commented on #245
In sql injection , for every query its giving the mysql syntax error only.
how to see some table of the database??

[2018-04-04 10:52] anjali-shukla commented on #245
can we see particular table from the database in sql injection??
Like if i give SELECT * FROM users; , it should show the users column right?
I checked the tanner_db database and when i give this command it shows the user tables
But when i give this query from snare it just shows the default you have error in your mysql syntax .

[2018-04-04 11:09] afeena commented on #245
@anjali-shukla have you used sqlite or mysql module?

[2018-04-04 11:11] anjali-shukla commented on #245
mysql

[2018-04-04 22:27] afeena commented on #245
@anjali-shukla Could you please provide exact command, which you used for testing sqli?

[2018-04-05 05:12] anjali-shukla commented on #245
1\'UNION SELECT 1,2,3,4
'1\'UNION SELECT 1,2,3,4:'
UNION SELECT 1,2,3,4
'UNION SELECT 1,2,3,4;'
'SELECT * from users WHERE id=1 UNION SELECT 1,2,3,4;'
SELECT * from users WHERE id=1 UNION SELECT 1,2,3,4

[2018-04-05 05:13] anjali-shukla commented on #245
1\'UNION SELECT 1,2,3,4
'1\'UNION SELECT 1,2,3,4;'

[2018-04-05 06:19] rnehra01 commented on #245
@anjali-shukla I tested `http://localhost:8080/?id=1'UNION SELECT 1,2,3,4` and it gave me `[1, 2, 3, 3] [1, 'solange7815', 'cherryl9499@live.com', 'VbB&-1;)']`

[2018-04-05 06:58] anjali-shukla commented on #245
how to drop a column of table like what should the query be like to drop table with id=1?

[2018-04-05 07:25] anjali-shukla commented on #245
@ rnehra01 can you tell me how to test for rfi emulator??
What should I give as query?

[2018-04-05 09:11] afeena commented on #245
@anjali-shukla you can get some information about rfi here https://www.owasp.org/index.php/Testing_for_Remote_File_Inclusion

lfi:
https://www.owasp.org/index.php/Testing_for_Local_File_Inclusion

[2018-04-07 20:44] #189 closed

[2018-04-10 11:31] anjali-shukla commented on #109
Did anyone try with vulnerability assessment tools to check if they show tanner as vulnerable to the emulated vulnerabilities?

[2018-04-11 06:07] anjali-shukla commented on #109
@rnehra01 Did you try any vulnerability tool ?
I tried with OWASP ZAP but its not showing any vulnerabilities only some header content missing is being shown .I tried grabber also

[2018-04-12 14:14] anjali-shukla opened #247 "tanner web is not logging all the attacks"
I am running tanner and tannerweb but when i do some attacks they are not being shown in the webpage ?? I can see the old sessions but the new ones i am not able to see.

[2018-04-13 05:00] anjali-shukla commented on #247
@rnehra01 Is it logging in real time ??

[2018-04-13 17:27] rnehra01 commented on #247
Yes.

On Fri, Apr 13, 2018, 10:30 anjali-shukla <notifications@github.com> wrote:

[2018-04-15 09:29] anjali-shukla opened #248 "how to configure tanner to give my sample html page as response"
I want tanner to give a particular response for a particular search query like the emulators are written.
How can I achieve that??
What all I need to change?

[2018-04-25 07:17] anjali-shukla opened #250 "tanner is giving error while connecting to php sandbox"
I am running php sandbox but tanner is giving error while connecting to it.
@rnehra01  can you tell me what exactly did give in the url to test php code injection?
tanner err log file
![screenshot from 2018-04-25 12-30-01](https://user-images.githubusercontent.com/35517694/39231134-b2689d2a-4886-11e8-9f0f-d07ca82f2fc8.png)
php sandbox terminal error
![screenshot from 2018-04-25 12-42-24](https://u

[2018-04-25 21:09] afeena commented on #248
@anjali-shukla is your page static or you want to generate it?

[2018-05-28 21:39] t3chn0m4g3 opened #251 "Certificate error when loading RFI from remote site"
When trying to load RFI from a remote site via SSL / TLS a certificate error is produced if hostname / FQDN are not identical with the one from the certificate. As a result the remote malware file is not loaded.

[code]

[2018-05-30 09:33] glaslos commented on #251
I assume ignoring the invalid certificate would be an option? Maybe make it optional via a flag?

[2018-05-30 09:35] t3chn0m4g3 commented on #251
Yes 👍

[2018-06-11 09:08] viskey98 opened #253 "Error in snare-tanner communication after tanner's latest update"
Lately when I tried run to snare and tanner to check the working of latest updates, i faced a problem. This problem seems to happen when snare sends data to tanner after (75+ secs) expiry of the session.

- It's like, when i create a session in snare, browse for a while and leave it idle for 75+ secs and try to create a new session ( because, the old session stats will be sent to tanner, so that i

[2018-06-11 09:08] viskey98 commented on #253
I will work on this issue myself :)

[2018-06-29 09:12] afeena opened #259 "asyncio redis problem"
I got this exception on the server. Seems like a problem with asyncio_redis

[code]

[2018-06-29 09:15] afeena commented on #259
I suggest to migrate to https://github.com/aio-libs/aioredis

[2018-07-10 03:08] t3chn0m4g3 opened #261 "No correlation between log and downloaded file"
The other day I have been noticing that there does not seem to be a correlation between downloaded files (i.e. wrt to a RFI) and the corresponding log entry. There should be an addition to the log regarding the written file alongside with a hash.

[2018-07-11 20:58] afeena commented on #261
Thanks for the issue :) I agree with you, now we log only errors in rfi, so it should be changed :)

[2018-07-11 21:00] #250 closed

[2018-07-11 21:00] #247 closed

[2018-07-11 21:01] afeena commented on #248
Please create new issue in case you still have a problems

[2018-07-11 21:01] #248 closed

[2018-07-11 21:02] #245 closed

[2018-07-11 21:02] afeena commented on #218
#259

[2018-07-11 21:02] #218 closed

[2018-07-11 21:03] #109 closed

[2018-07-20 21:02] afeena commented on #259
Fixed in v0.6

[2018-07-20 21:02] #259 closed

[2018-07-30 08:18] afeena commented on #227
```aiohttp.http_exceptions.BadStatusLine: invalid HTTP method``` occurs than httprint sends this raw data:
```b'\x16\x03\x00\x00_\x01\x00\x00[\x03\x00[^*\xdd\x9a4\xfc,\xf1#\xd9\xa5o\xed\xa5v~\x13I\xf0\xef\xc0js[\x9dm\xa2\xf2@\xadx\x00\x004\x009\x008\x005\x00\x16\x00\x13\x00\n\x003\x002\x00/\x00f\x00\x05\x00\x04\x00c\x00b\x00a\x00\x15\x00\x12\x00\t\x00e\x00d\x00`\x00\x14\x00\x11\x00\x08\x00\x06\x00

[2018-07-30 08:18] #227 closed

[2018-08-06 14:05] t3chn0m4g3 commented on #251
Any progress on this?

[2018-08-06 15:28] t3chn0m4g3 commented on #261
Any progress on this?

[2018-08-13 14:23] Gerard42 opened #274 "RFI and code injection emulator issue with mimetype on Ubuntu 18.04"
When installing TANNER on Ubuntu 18.04 I got the following error when testing the RFI and code injection emulators:

`ERROR:tanner.php_code_injecton:get_injection_result: Error during connection to php sandbox 0, message='Attempt to decode JSON with unexpected mimetype: application/octet-stream'`

Probably the issue described by: https://stackoverflow.com/questions/48840378/python-attempt-to-decod

[2018-08-14 15:19] afeena commented on #274
Hi @Gerard42 Thanks for the issue and suggested solution! I will look into the problem in a couple of days :)

[2018-08-17 06:50] t3chn0m4g3 commented on #251
Can someone please have a look 😃 T-Pot 18.10 will have SNARE / TANNER as default web honeypot and it would be awesome if there was a solution for that 👼

[2018-08-17 06:51] t3chn0m4g3 commented on #261
Can someone please have a look 😃 T-Pot 18.10 will have SNARE / TANNER as default web honeypot and it would be awesome if there was a solution for that 👼

[2018-09-04 13:50] XMUsuny opened #275 "No config file found"
Docker works well, but everytime I start tanner, there are some error in /opt/tanner/tanner.log:

docker.auth.find_config_file: Trying paths:['/home/admin/.docker/config.json', '/home/admin/.dockercfg']
docker.auth.find_config_file: No config file found

I can't find .docker or .dockercfg in /home/admin. And when I use sqlmap to scan the snare server, tanner.log isn't updated. So how I fix it?

[2018-09-08 17:43] afeena commented on #275
Hi @XMUsuny Actually, it's not an error, it's debugging message  (https://github.com/docker/compose/issues/3767).

Could you please describe the problem with sqlmap a bit more?

[2018-09-26 22:20] leoalb opened #276 "Empty attack type"
When I intend to recreate a xss attack, tanner.log recognize and tag the attack correctly but tanner api returns "attack_types": [].

[2018-09-28 07:46] afeena commented on #276
Hi @leoalb
Tanner api doesn't update real-time. Session is analyzed after expiration, that is why probably you didn't see it in the api. Can you check please if you still have this problem?

[2018-09-28 21:06] leoalb commented on #276
Hello @afeena . Yes, the problem persist, but I think it's only when the attack type is xss,  because when the type is cmd_exec the attack_type is ok. could it be possible?.

the log:
2018-09-28 17:30:20 INFO:tanner.server:handle_event: TANNER response {'version': '0.6.0', 'response': {'message': {'detection': {'name': 'xss', 'order': 3, 'payload': {'value': '<script>alert("ok")</script>', 'page':

[2018-10-15 03:59] xandfury commented on #238
@CyberDrudge please go ahead. I couldn't find time after making some trivial changes.

[2018-10-19 19:35] #238 closed

[2018-10-24 02:36] riupie opened #279 "Tanner Error when starting : KeyError: 'php_code_injection'"
So.. i make an ini config, same like default config except the JSON log, like this:
[code]

But when I started it with this command sudo tanne --config myconfig.ini, the result :

[code]

[2018-10-25 03:17] M1dor1ya opened #280 "ERROR:aiohttp.server:log_exception: Error handling request"
I built snare and tanner in my machine and used IBM Security AppScan Standard to test the web site.
After the test,i can't visit the web site anymore.The following is the error message in the snare.err

2018-10-25 01:52:34 ERROR:aiohttp.server:log_exception: Error handling request
Traceback (most recent call last):
  File "/usr/local/lib/python3.6/dist-packages/aiohttp/web_protocol.py", line 390,

[2018-10-25 13:09] afeena commented on #280
@zhang199653 Hi, could you please give m a request which  causes this error?

[2018-10-26 01:05] zhang199653 commented on #280
@afeena  I still want to ask another question.Cmd Execution Emulator will let the cmd be executed in  container.If container has been destroyed,will tanner rebuild another container?

Thanks

[2018-10-26 09:44] zhang199653 commented on #253
@viskey98 Hi, I have met the same error. Have you resolve it?

<aiohttp.client_exceptions.ContentTypeError: 0, message='Attempt to decode JSON with unexpected mimetype: text/html; charset=utf-8'>

[2018-10-28 21:10] afeena commented on #280
@zhang199653 yes, basically, container is created for every session on request. if container doesn't exist, it will be recreated.

[2018-12-04 05:18] DanielSpring opened #284 "Docker Issue"
Hi, I'm getting an issue where tanner server is loading but, not tanner web and tanner api when ran is docker. Does running tanner in docker override api/web/sandbox? When I run them normally everything is fine but they don't collect any data from Snares log file or generate any type of information on the web page.

![docker](https://user-images.githubusercontent.com/33066562/49426712-438a6380-f79

[2018-12-04 08:20] DanielSpring commented on #284
I just found out what the issue is your missing port numbers in each api/web/sandbox in the docker-compose.yml file.

tanner_phpox:
    build: ./phpox
    container_name: tanner_phpox
    restart: always
    stop_signal: SIGKILL
    tty: true
    networks:
     - tanner_local
    **ports:
     - "8088:8088"**
    image: "mushorg/phpox:latest"
    read_only: true

[2018-12-04 14:02] DanielSpring commented on #284
I managed to get everything up and running, however, I think theres a bug when you go into tannerweb it causes snare to stop working with a "500 internal server error message".

[2018-12-06 05:50] DanielSpring opened #285 "Updating Redis somaxconn default value in docker-compose.yml"
privileged: true
    sysctls:
      net.core.somaxconn: '511'

[2018-12-06 10:33] #280 closed

[2018-12-06 10:47] M1dor1ya opened #286 "Bugs in RFI and PHP Code Injection Emulator"
When i was testing RFI and PHP Code Injection Emulator,I found two bugs.
[code]

PHP Code Injection, URL: 192.168.2.8/?arg=1; phpinfo()
err msg:
2018-12-06 10:45:17 ERROR:tanner.php_code_injecton:get_injection_result: Error during connection to php sandbox 0, message='Attempt to decode JSON with unexpected mimetype: text/html; charset=utf-8'

I've tried the solution by : https://stackoverflow.com/

[2019-01-03 07:13] monsterhunterboy98 opened #287 "Trouble Installing Tanner"
My apologies for the trouble caused, I could not find any videos regarding the installation steps for tanner but I pretty much followed the steps stated in github. May I know what steps i missed or wad went wrong?

Redis Server:
![image](https://user-images.githubusercontent.com/45062471/50626493-98242880-0f69-11e9-88ab-fc99982ac7b3.png)

Tanner:
![image](https://user-images.githubusercontent.com/

[2019-01-03 07:13] monsterhunterboy98 commented on #287
Sorry the error message was too long

[2019-01-03 09:06] monsterhunterboy98 commented on #287
****

[2019-01-03 09:07] monsterhunterboy98 commented on #287
Im pretty sure redis is up:
![image](https://user-images.githubusercontent.com/45062471/50630000-ee996300-0f79-11e9-8f1a-42e8da5c3591.png)

[2019-01-04 16:52] afeena commented on #287
@monsterhunterboy98 have you run docker as well?

[2019-01-04 16:54] glaslos commented on #287
@monsterhunterboy98 please don't use screenshots but post the actual text of the exception.

[2019-01-04 16:55] glaslos commented on #286
Can you check if the error still exists with the recently merged PR?

[2019-01-04 16:56] glaslos commented on #285
Feel free to create a pull request.

[2019-01-04 16:59] #279 closed

[2019-01-15 01:37] M1dor1ya commented on #286
After i update the version of php sandbox,the bug was solved.Thanks!

[2019-01-15 01:37] #286 closed

[2019-01-18 13:55] afeena commented on #287
@monsterhunterboy98 Doest the problem still exist?

[2019-01-18 13:58] afeena commented on #274
Changes have been done on tanner and phpox side and now on master.

[2019-01-18 13:58] #274 closed

[2019-01-18 14:00] afeena commented on #275
In case of any new problems, please create new issue

[2019-01-18 14:00] #275 closed

[2019-01-18 15:16] #1 closed

[2019-03-01 13:11] viskey98 opened #290 "Adding a feature to remove tanner-related sessions in redis-server on expiry"
Lately we have been facing a problem on the snare side (mushorg/snare#180) due to default-tanner.
According to @afeena it occurred because there are lot of sessions in the redis-server database which has consumed almost the complete memory capacity. This is because of the low memory of our default tanner server (Obviously it wasn't meant for production purpose).  Due to this snare sessions were un

[2019-03-01 18:49] rnehra01 commented on #290
Yeah, I think auto-deleting based on memory is kinda must as we won't do that then it will just stop working.

[2019-03-16 15:48] amanjiofficial commented on #290
What period would be suitable for deletion @viskey98 @rnehra01

[2019-03-16 16:24] rnehra01 commented on #290
It's good to keep the period as parameter.

[2019-03-19 19:37] amanjiofficial opened #293 "There are very less emulators. We should cover more attacks."

[2019-03-20 04:53] rnehra01 commented on #293
During this summer, we are expecting to increase that number. I have also added some suggestions in the project goals https://gsoc.honeynet.org/#art-prop-17

[2019-03-20 19:31] amanjiofficial commented on #293
I would like to work on padding oracle vulnerability.

[2019-03-25 22:46] afeena opened #300 "[tannerweb] Empty last session results to server error"
![Screenshot from 2019-03-25 23-40-48](https://user-images.githubusercontent.com/8390928/54959026-0a4c4e00-4f58-11e9-8e6c-30d1258331be.png)

[code]

[2019-03-29 14:39] #287 closed

[2019-04-05 13:14] rjt-gupta opened #303 "Testing Info"
Should I add testing info in tanner like snare?

[2019-04-07 07:10] rjt-gupta opened #306 "Dependency version"
Snare uses aiohttp_jinja2 latest 1.1.0 while tanner uses version 0.14.0. As version 1.1.0 requires aiohttp 3.2 can we do the upgrade?

[2019-04-09 15:45] rjt-gupta commented on #306
Yes, everything looks good to me.

[2019-04-11 06:45] shin2903 opened #307 "Add tests for Docker build"
Add unit tests for running Docker build.

[2019-04-12 09:37] rjt-gupta commented on #303
refs - #309

[2019-04-12 09:37] #303 closed

[2019-04-14 19:18] #307 closed

[2019-04-14 19:20] afeena commented on #306
@rjt-gupta in this case, just go ahead with pr :)

[2019-04-30 10:46] gaochua opened #312 "No error message for SQLite"
`sqli` emulator supports both MySQL and SQLite, but returned error only supports MySQL: https://github.com/mushorg/tanner/blob/master/tanner/emulators/sqli.py#L45

[2019-05-06 06:57] rnehra01 commented on #312
It needs fixing.

[2019-06-01 11:28] glaslos opened #322 "Add Postgres as optional database"
Redis is not particular suitable for long term data storage. A different solution needs to be implemented. I suggest Postgres.

[2019-06-04 17:41] #306 closed

[2019-06-05 05:12] rjt-gupta commented on #312
@rnehra01 For SQLite error should be - `ERROR NEAR line x: near "": syntax error` right?

[2019-06-05 06:21] rnehra01 commented on #312
I don't remember, I guess you can install SQLite and check it.

[2019-06-27 05:39] rjt-gupta commented on #312
We can close this issue.

[2019-06-27 06:05] #312 closed

[2019-08-10 18:27] #261 closed

[2019-08-12 07:51] t3chn0m4g3 commented on #261
Awesome! Thank you!

[2019-08-16 12:51] t3chn0m4g3 opened #347 "Build from master and started it, but it seems to be broken."
After starting tanner I immediately get the following error, ideas?

[code]

[2019-08-16 13:13] rjt-gupta commented on #347
Sorry, Im not able to reproduce this. Have you tried `python setup.py install`?

[2019-08-16 13:18] t3chn0m4g3 commented on #347
Thanks for your support, [yes](https://github.com/dtag-dev-sec/tpotce/blob/master/docker/tanner/tanner/Dockerfile).

[2019-08-16 13:19] afeena commented on #347
I guess this is the problem with config in Docker
https://github.com/mushorg/tanner/blob/master/docker/tanner/dist/config.py

@rjt-gupta Could you please check&update?

[2019-08-16 13:19] rjt-gupta commented on #347
On it.

[2019-08-16 13:22] t3chn0m4g3 commented on #347
@afeena Good catch, did not realize options had changed 😨

[2019-08-16 13:25] afeena commented on #347
@t3chn0m4g3 Thanks for reporting :)

[2019-08-16 13:36] t3chn0m4g3 commented on #347
Found the changes, adjusted the config, images are now building.

Fingers crossed :)

[2019-08-16 13:43] t3chn0m4g3 commented on #347
Well, at least on the right track :bowtie:

[code]

[2019-08-16 13:47] t3chn0m4g3 commented on #347
@afeena @rjt-gupta What triggers the usage of docker within tanner? Can we disable it?

[2019-08-16 13:52] rjt-gupta commented on #347
I guess only the emulators use docker for the execution part. They can be disabled using the config file.

[2019-08-16 13:52] afeena commented on #347
Emulator with docker: lfi, template injection, cmd, as far as I remember

[2019-08-16 13:53] t3chn0m4g3 commented on #347
thanks, on it.

[2019-08-16 13:54] mainnika commented on #347
@t3chn0m4g3 you used docker-compose or built&run docker image manually?

[2019-08-16 13:54] rjt-gupta commented on #347
I think you will only need to disable template_injection emulator as it only requires building the custom image. (according to traceback)

[2019-08-16 13:59] t3chn0m4g3 commented on #347
@mainnika docker-compose, building the whole stack at once (snare, tanner, phpox,...)
@rjt-gupta @rjt-gupta Disabled the ones from the old config and additionally template_injection. Seems to work properly now. Will PR within the hour and run some tests before that.

Thank you 😃

[2019-08-16 14:00] rjt-gupta commented on #347
Awesome! :)

[2019-08-16 14:02] mainnika commented on #347
@t3chn0m4g3
the problem is that tanner inside docker doesn't have access to a docker itself.
then just add to a `tanner` service in docker-compose:
[code]

[2019-08-16 14:06] t3chn0m4g3 commented on #347
@mainnika
You are correct. From a security perspective however (at least for my use case within T-Pot, but probably also in general) you would want to avoid giving a container access to the docker socket, especially with r/w persmission.

[2019-08-16 14:13] mainnika commented on #347
@t3chn0m4g3 absolutely true.

but if we assume `tanner` is *safe*, then it's ok to give RW for a tanner container only. in this case we use docker just as a more comfortable way to run tanner.

in the best case it should be an external *safe* docker server.

[2019-08-16 14:27] t3chn0m4g3 commented on #347
@mainnika Personal preference, however before you do ...
https://www.cisecurity.org/cis-benchmarks/
https://github.com/docker/docker-bench-security
https://dev.to/petermbenjamin/docker-security-best-practices-45ih

[2019-08-16 14:38] t3chn0m4g3 commented on #347
@afeena @rjt-gupta Works fine here, however a test on your side cannot hurt.

Thanks again for getting a grip on this.

[2019-08-16 14:38] #347 closed

[2019-08-16 14:49] mainnika commented on #347
yep it's all about «general app». but if the app was specially developed to use docker it's another case. let's check `docker/docker-bench-security`, e.g. they advise to run docker container as
[code]
wow so insecure

[2019-10-30 09:53] Moooser opened #350 "error when running tanner"
Running Tanner results in following error:
- I am running on Ubuntu 16.04
- Firewall is disabled
sudo tanner

      _________    _   ___   ____________
     /_  __/   |  / | / / | / / ____/ __ \
      / / / /| | /  |/ /  |/ / __/ / /_/ /
     / / / ___ |/ /|  / /|  / /___/ _, _/
    /_/ /_/  |_/_/ |_/_/ |_/_____/_/ |_|

Debug logs will be stored in /opt/tanner/tanner.log
Error logs will be stored

[2019-10-30 10:42] afeena commented on #350
Hi @Moooser
Please provide some more info :)
I see some redis errors in your log, do you have redis running?

[2019-10-30 10:59] Moooser commented on #350
ok my bad, I didn't thought that redis was a dependency. its running now, thanks for your help.

[2019-10-30 10:59] #350 closed

[2020-02-19 15:06] t3chn0m4g3 opened #353 "Tanner crashes after dirb scan without error"
This issue was originally posted in the Snare repository (https://github.com/mushorg/snare/issues/233), however I could break it down to tanner (ver. 0.6.0, tcp/8090).

At some point while running `dirb http://1.2.3.4` Snare looses contact to Tanner and throws an error
[code]
The reason for the error lies within the fact that Tanner crashes without any error or warning message.

Setup follows `doc

[2020-02-19 21:05] afeena commented on #353
Thanks @t3chn0m4g3! I will investigate this behavior in the next few days.

[2020-02-21 06:10] AndreyMironenkoGit commented on #353
Problem in KEEP_ALIVE_TIME = 75 in (tanner/tanner/session.py string 13) and subsequent removal of old sessions from redis (async def delete_old_sessions(self, redis_client) in tanner/tanner/session_manager.py string 67). The temporary mitigation may be to increase the KEEP_ALIVE_TIME, but need to understand why there is a conflict in Redis. I can't understand because I'm not a programmer and i hav

[2020-02-21 06:20] AndreyMironenkoGit commented on #353
Checked the redis, is ok. Problem in tanner/tanner/session_manager.py in sting 71 (is_deleted = await self.delete_session(sess, redis_client)). "await" does not work correctly.

[2020-02-24 12:40] Parth1811 opened #354 "Misleading Installation guide in README.md"
The [getting started](https://github.com/mushorg/tanner#getting-started) section in the README is a bit confusing for newcomers, I think.

It should be clearly mentioned that `redis` and `php sandbox` both are compulsory for tanner to function while docker may be an optional alternative if someone is unable to set up the environment on their machine.

Also, for me, Python3.5.2 was causing some pro

[2020-02-24 13:21] afeena commented on #354
@Parth1811 thanks for reporting :)
python3.5 is indeed outdated, so feel free to make changes :)

[2020-02-24 15:33] afeena commented on #353
@AndreyMironenkoGit are you willing to make a pull request?

[2020-02-25 06:39] AndreyMironenkoGit commented on #353
I'm sorry, but no. I don't have a fork. And I don't plan on doing it.

[2020-02-25 08:48] Parth1811 commented on #293
@amanjiofficial, can you please describe in more detail how can accomplish this. Can you link any resource from where I could read more about this it would be quite helpful?
I would like to know more about this and whether or not its already implemented as this is a year old ticket.

[2020-02-25 14:13] Parth1811 commented on #237
@glaslos Shouldn't this issue be closed as this is outdated. Docker support has been successfully added.

Are we still looking to support installation from `pypi`?

[2020-02-25 18:30] mzfr commented on #353
@afeena I've made the PR with the changes suggested by @AndreyMironenkoGit

[2020-02-26 09:29] Fosocles commented on #353
@mzfr I recompiled a docker image with your fix and it still crashes after using Nikto against the page Snare serves.

[2020-02-26 10:03] afeena commented on #353
OK I am now diving deep into the problem.
Unfortunately I don't think changing specified Exception to general one make a trick. The more import is to understand why it is happening and fix the cause

[2020-02-26 10:04] AndreyMironenkoGit commented on #353
@Fosocles try it exactly as I wrote it. I was testing from 3 computers running 2 Acunetix (full scan) and 1 dirb in parallel. The service was working fine. The test lasted 20 hours.

[2020-02-26 10:47] afeena commented on #353
@AndreyMironenkoGit am I correct, that you delete completely this line from your code?
`is_deleted = await self.delete_session(sess, redis_client)`?

[2020-02-26 10:55] Fosocles commented on #353
@AndreyMironenkoGit tried both versions and they both fail. Am I doing something wrong?

[2020-02-26 10:56] AndreyMironenkoGit commented on #353
@afeena Yep. And did print exception in stdout, and run dirb.

[2020-02-26 11:05] afeena commented on #353
@Fosocles if you are using pull request #353 it only changes exception type
@AndreyMironenkoGit deleted the function of session deletion and analysis completely (actually, it's not how tanner supposed to work :) )

I found the problem. dirb creates thousands of sessions so tanner tries to analyse everything and put into redis, so it's a problem of efficiency and scalability

[2020-02-26 11:07] Fosocles commented on #353
The most recent error (from tanner.err) looks like there is a problem with the database:

`2020-02-26 10:16:23 ERROR:aiohttp.server:log_exception: Error handling request
Traceback (most recent call last):
  File "/usr/lib/python3.7/site-packages/aiohttp/web_protocol.py", line 418, in start
    resp = await task
  File "/usr/lib/python3.7/site-packages/aiohttp/web_app.py", line 458, in _handle

[2020-02-26 11:14] AndreyMironenkoGit commented on #353
@afeena in the PR #357  @mzfr function has been removed too.

![image](https://user-images.githubusercontent.com/38126215/75339836-54ddf500-58a2-11ea-88b1-dfcd35174daf.png)

[2020-02-26 11:21] afeena commented on #353
@AndreyMironenkoGit my bad :D you are right

[2020-02-26 12:21] Fosocles commented on #353
@afeena so what should the fix be?

[2020-02-27 07:32] Fosocles commented on #353
Any updates?

[2020-02-27 08:48] mzfr opened #359 "jinja2 exception in Tanner Web"
When I visit `/snares` I can see two snare UUID is one I can see snare stats but in another when I click on the `snare-stats` option it gives `500 Internal server error` and I see the following traceback on the terminal:

[code]

This is because in `snare-stats.html` just assumes that whatever values is given is valid/have the key.

I think we should check before we pass the value to the template

[2020-02-27 09:44] afeena commented on #353
@Fosocles there is no "fast" solution for the problem.

If we are talking about freezing error with dirb, it happens because dirb requests creates thousands of sessions in TANNER (although it supposed to be one sessions with multiple paths), so now imagine at some point all of them are expired and now TANNER want to analyse them and put into redis --> Yes, it freezes. So the whole process of movin

[2020-02-27 10:39] Fosocles commented on #353
And what should I do? I'm trying to integrate Snare/Tanner in my Master's Thesis and I need to be able to collect relevant data with it. What could I do to "fix" the freeze while I'm not actively monitoring Tanner?

[2020-02-27 14:22] puneet29 opened #360 "Make a virtual environment for tanner"
Please move to a virtual environment for running tanner. This will require changing the installation directory of tanner from /opt/tanner. @glaslos @afeena can suggest what would be the right way to do the same.

[2020-02-28 17:40] afeena opened #361 "GSoC 2020"
Check
https://github.com/mushorg/snare/issues/248 for details

[2020-02-29 16:35] mzfr commented on #285
@afeena @glaslos I don't see such value in docker-compose.yml now so I think we can close this.

[2020-02-29 20:06] afeena commented on #170
#268

[2020-02-29 20:06] #170 closed

[2020-02-29 23:58] #300 closed

[2020-03-01 21:00] afeena commented on #353
Please test https://github.com/mushorg/tanner/pull/362

Now doesn't crash for me with dirb

[2020-03-02 10:12] #354 closed

[2020-03-02 22:14] afeena commented on #353
#362
For any other problems please create new issue

[2020-03-02 22:14] #353 closed

[2020-03-04 13:12] t3chn0m4g3 commented on #251
@afeena Maybe something for GSoC 2020 😇 ?

[2020-03-04 13:22] afeena commented on #251
@t3chn0m4g3 Oh shit, I am terribly sorry that no one take care of that till now :( I will take a look today and if it is something I can fix fast, I will do it

[2020-03-04 13:46] t3chn0m4g3 commented on #251
Thank you 🎉 😄

[2020-03-04 20:37] afeena commented on #359
@mzfr Thanks for reporting! Would you like to work on that?

[2020-03-04 20:47] afeena opened #365 "Replace ftp with aioftp"
In order to make code consistently async, it's better to move to aioftp for RFI
https://github.com/aio-libs/aioftp

[2020-03-04 20:49] afeena opened #366 "Use YAML to define configs"
I suggest using yaml for configs to make it more convenient

[2020-03-04 20:50] #284 closed

[2020-03-05 01:51] mzfr commented on #359
@afeena yeah sure I'll work on it.

[2020-03-05 22:15] t3chn0m4g3 opened #367 "Download .zip via RFI throws error."
@afeena While testing #364 I stumbled upon this error:
This is my testcase, trying to download a malware test file with `'RFI': {"allow_insecure": True},`
`http://<snare_url>/?file=https://secure.eicar.org/eicar_com.zip`

Throws the following error:
[code]

The eicar site seems to be good for testing since it throws a certificate error for SSL / TLS connections.

I am pretty sure the `http` test w

[2020-03-05 22:46] #367 closed

[2020-03-05 22:59] t3chn0m4g3 opened #369 "Error from sandbox (phpox)"
While testing `http://<snare_url>/?file=http://secure.eicar.org/eicar.zip`, `http://<snare_url>/?file=http://secure.eicar.org/eicar.com` I get PHP errors in sandbox:

Log entry in tanner:
[code]

Log entry in tanner_phpox:
[code]

[2020-03-05 23:52] #369 closed, assigned to nobody

[2020-03-06 07:34] steve7158 commented on #322
Hi @glaslos i just made an initial PR for your proposal, can you please check it :smile: . Thank you.

[2020-03-06 07:35] steve7158 commented on #322
I guess we also have to add additional configurations with setup.py fr the database.

[2020-03-06 20:53] #251 closed

[2020-03-10 18:44] steve7158 opened #372 "asyncio.create_task() does not work in python version less than 3.7"
In server.py file, inside the function `async def start background delete`, we have used asyncio.create_task(), which is not supported in python version less than 3.7.

[2020-03-10 19:06] afeena commented on #372
@steve7158 Nice catch! Would you like to fix it?

[2020-03-10 19:11] steve7158 commented on #372
Sure i have just made a PR :smile:

[2020-03-11 14:22] steve7158 commented on #322
@glaslos I think i made it, can you check my PR, however we will however have to make some arrangements for creating new user and password for postgres.
Please follow the instruction provided along with the PR to make it work, and let me know how to proceed forward.

[2020-03-11 14:22] steve7158 commented on #322
[https://github.com/mushorg/tanner/pull/374](url)

[2020-03-11 19:46] #372 closed

[2020-03-11 20:27] Parth1811 commented on #359
@mzfr Hey are you still working on this one??

[2020-03-11 23:09] steve7158 opened #375 "Improve printing information with color"
I think implementing a print_color function in tanner as well will be great addition.

[2020-03-13 20:52] #359 closed

[2020-03-19 11:47] glaslos commented on #293
Closing this issue as there is no concrete problem description.

[2020-03-19 11:47] #293 closed

[2020-03-20 12:26] Parth1811 commented on #276
How can we replicate this, I'm unable to confirm this behaviour

[2020-03-20 15:01] afeena opened #380 "Prepare docker for using yml configs"
Since we are going to switch to `yml` for configs, we should address this changes in Dckerfile

https://github.com/mushorg/tanner/pull/371

[2020-03-20 18:28] afeena commented on #154
@glaslos What do you think about this? I have some doubts that we need such functionality.

[2020-03-23 12:07] rjt-gupta opened #381 "GSOC: Adding support for twig template engine"
**Aim** - Add support for twig template engine (PHP) for template injection emulator.

**How to do?**

- install twig using composer (https://twig.symfony.com/doc/2.x/installation.html)
- First build a suitable vulnerable code template in which the payload will be injected and then execute using phpox.

The template I had created was -

[code]

This template was working with basic payloads but not

[2020-03-23 13:14] glaslos commented on #381
Can you provide some more information on how the request looks like?
Maybe a PCAP from a real, vulnerable system?
Feel free to change the title for something more specific. I think it's a very good proposal for a new vulnerability type.

[2020-03-23 13:31] rjt-gupta commented on #381
First i was trying to test the template with major payloads using postman. I also think adding this support would be very cool.

I will try to capture the pcap asap!

[2020-04-02 17:37] puneet29 opened #383 "Change distribution from distutils to setuptools"
Currently, we are using distutils for the distribution and installation of the tool. As Python has moved from distutils to setuptools for the same because of some limitations (listed [here](https://stackoverflow.com/questions/6344076/differences-between-distribute-distutils-setuptools-and-distutils2)), we should migrate too.
[Python recommends using setuptools](https://docs.python.org/3/library/di

[2020-04-03 05:01] puneet29 commented on #383
Hey @afeena @glaslos
What do you think about this issue? Should I proceed with it? Thanks!

[2020-04-10 09:08] steve7158 commented on #365
@afeena can you please tell me how to run the rfi emulator. I made the required changes in PR #385 and tested the code separately but i am not sure how it will work with the tanner. :)

[2020-04-10 09:17] #383 closed

[2020-05-06 05:55] layeha9600 opened #386 "Configuration File issue: Want to enable tanner_report.json"
Hello,
I want to enable the **tanner_report.json** option. Can you please suggest what is the right default config file where I can change tanner_report.json to be enabled in LOCALLOG section ??
I have also tried with config.ini file with --config parameter but it is getting some error as --
      _________    _   ___   ____________
     /_  __/   |  / | / / | / / ____/ __ \
      / / / /| | /  |/

[2020-05-11 16:31] afeena commented on #386
Hi @layeha9600
Sorry for the late answer, could you please provide the config.ini file you've tried to use?

[2020-05-31 09:21] mzfr opened #389 "Improve regex pattern for attack detection"
I noticed that some of the sessions don't have `attack_type` in their `paths` dictionary.

Ex:
[code]

I think we should modify regex so pattern like these are also detected.

[2020-06-23 23:05] GSMcNamara opened #394 "Permissions error"
This:

LOGGER:
  log_debug: /tmp/tanner/tanner.log
  log_err: /tmp/tanner/tanner.err

in https://github.com/mushorg/tanner/blob/master/docker/tanner/dist/config.yaml causes a permission issue when trying to boot the Docker container. I changed the values to the following as a test and they seem to work:

LOGGER:
  log_debug: /var/log/tanner.log
  log_err: /var/log/tanner.err

However perhaps this

[2020-06-26 11:59] t3chn0m4g3 commented on #394
It's designed to be started with the `docker-compose.yml` you can find [here](https://github.com/mushorg/tanner/blob/master/docker/docker-compose.yml) which creates the necessary permissions.

[2020-12-27 09:41] ba1ajinaidu commented on #276
Is this issue still valid? It works fine for me

[2021-01-31 22:58] Haotian-Shi-cyber opened #403 "tannerweb issue"
im trying to run tannerweb but got following issues
![image](https://user-images.githubusercontent.com/62081228/106400683-cd84f400-6417-11eb-96fa-d7f2d93d9016.png)

[2021-02-01 05:15] mzfr commented on #403
@Haotian-Shi-cyber Please check the directory from which you are running the command.

It might work if you run this command inside the `tanner/` directory.

[2021-02-01 09:32] Haotian-Shi-cyber commented on #403
@mzfr you are right, thx

[2021-02-01 09:35] Haotian-Shi-cyber commented on #403
![image](https://user-images.githubusercontent.com/62081228/106440399-baead900-6470-11eb-93a8-cd0294a05363.png)
its running but cannot be accessed? what does the web look like

[2021-02-02 03:59] mzfr commented on #403
@Haotian-Shi-cyber Read the documentation and see if you can access any endpoint,

[2021-02-13 00:23] BlackPreacher opened #404 "Tanner API Parameter for setting number of returned session"
After a few days for the snare honeypot collecting data there had been about 1000 sessions with data.
If I tried to export and query them at one time to analyse the collected data for some ressearches I saw that there were returned only 50 requests.
I would suggest to add an filter-parameter (e.g. called "size"), where the user can choose the number of returned sessions.

[2021-03-09 20:33] adskee opened #405 "JSON Logging hierarchy issue"
Not sure if it's intentional or not, but based on the text used by an attacker in the POST data, categories can get created when saving entries into JSON.

Example: This snippet of an HTTP request:
------------------------------------
POST /cgi-bin/ ... etc. HTTP/1.1
- other headers-
Connection: Keep-Alive

<?php die(@md5(PHP-CGI)); ?>
------------------------------------

Gets saved into JSON as:

[2021-03-14 17:09] afeena commented on #405
Hi @adskee, thanks for reporting this!
That is not intended indeed. If you have any suggestions on how it can be fixed, please feel free to submit the pull request :)

[2021-03-17 05:14] adskee commented on #405
Hi @afeena ! This actually might be pretty over my head. I've been flipping through multiple pages of code trying to understand Tanner, aiohttp, and the json packages. I don't know enough to directly suggest a fix; however, I think I found where a fix could go.

tanner/tanner/server.py

Line 57:             data = json.loads(data.decode('utf-8'))

However data is formatted (from data=request.read(

[2021-04-03 16:49] Nicocimbali opened #407 "User, tool, crawler and attacker"
Hi,
I saw in the logs that tanner makes a division of users which can be: user, tool, crawler and attacker, I wanted to know based on what tanner does this classification? And what is the difference between these categories?

[2021-04-03 18:58] mzfr commented on #407
Hey @Nicocimbali

You can see the code for `choosing profile`, [here](https://github.com/mushorg/tanner/blob/master/tanner/sessions/session_analyzer.py#L115).

To detect __crawler__ this([session_analyzer#L151](https://github.com/mushorg/tanner/blob/master/tanner/sessions/session_analyzer.py#L151)) function is used.

For detecting __attacker__, this([session_analyzer#L172-L188](https://github.com/

[2021-05-12 04:57] RichardPhilipsRoy opened #408 "JSON parse error"
Hi, I'm having trouble parsing "tanner_report.json" file with logstash it fails with the following error
Here is the configuration file that I'm using (https://github.com/telekom-security/tpotce/blob/master/docker/elk/logstash/dist/logstash.conf)

Logstash version: logstash 7.12.1

[ERROR] 2021-05-08 10:05:30.310 [[main]<file] json - JSON parse error, original data now in message field {:error=>#<

[2021-05-12 06:18] mzfr commented on #408
@RichardPhilipsRoy I think you should change the `codec` from `json` to `json_lines`.

[2021-06-15 09:38] #407 closed

[2021-08-24 09:39] grispan56 opened #410 "AttributeError: module 'aioredis' has no attribute 'create_redis_pool'"
Im trying to run tanner whether by docker-compose or by manually installing , tried on multiple computers as well but getting the same error everytime,
is there something missing in the instructions or anyway to solve it?

<pre>
root@ip-172-31-3-81:/home/ubuntu/tanner/docker# docker-compose up
Starting tanner_phpox ... done
Starting tanner_redis ... done
Starting tanner_web   ... done
Starting tan

[2021-08-24 15:30] mzfr commented on #410
aioredis v2.0 made lot of changes(https://aioredis.readthedocs.io/en/latest/migration/). In that, they have changed the way to [connect to a pool](https://aioredis.readthedocs.io/en/latest/migration/#connecting-to-redis).

[2021-08-24 15:32] mzfr commented on #408
@RichardPhilipsRoy Did the fix work? If yes then please close this issue.

[2021-08-25 06:45] grispan56 commented on #410
@valvolt which version of python/linux dist you use ?

I also tried to change the requirements to 1.3.1,
but It gave different error,
[code]

as much as i could find since python version 3.7 async became a reserved word so thats why the error come ?
I tried to run it on python 3.8.10

[2021-09-07 14:40] valvolt commented on #410
I've used the docker-compose setup. Basically, I added a ```sed``` command to the Tanner Dockerfile, so that it looks like this:

    git clone --depth=1 https://github.com/mushorg/tanner /opt/tanner && \
    cp /root/dist/config.yaml /opt/tanner/tanner/data/ && \
    cd /opt/tanner/ && \
    sed -i 's/aioredis/aioredis==1.3.1/g' requirements.txt && \
    pip3 install --no-cache-dir setuptools &&

[2021-11-14 22:45] pklanka commented on #410
After downgrading to 1.3.1, I am receiving the following error. Could you please help

tanner          | Traceback (most recent call last):
tanner          |   File "/usr/bin/tanner", line 4, in <module>
tanner          |     __import__('pkg_resources').run_script('Tanner==0.6.0', 'tanner')
tanner          |   File "/usr/lib/python3.7/site-packages/pkg_resources/__init__.py", line 667, in run_scri

[2021-11-17 13:12] Chrzi commented on #410
Got the same error as @pklanka. I found the workaround to use an older version of aiohttp and adding this to my Dockerfile:
`sed -i 's/^aiohttp$/aiohttp==3.7.4.post0/g' requirements.txt && \`

[2021-11-18 13:07] t3chn0m4g3 commented on #410
@mzfr @afeena Are you planning on updating Tanner, right out of the box it builds, but without the changes proposed by @Chrzi and @valvolt it crashes on start.

[2021-11-18 21:19] afeena commented on #410
I would be happy to merge changes,
@Chrzi @valvolt would you like to do a pull request?

If not I will add the changes myself :)

[2021-11-19 10:04] Chrzi commented on #410
No thanks :)

[2021-12-16 14:11] ibuydan commented on #410
Did this issue ever get resolved? I'm advising a friend on how to setup tanner and the docker image still appears to have Redis errors.

[2021-12-16 14:18] t3chn0m4g3 commented on #410
@ibuydan Use [T-Pot](https://github.com/telekom-security/tpotce), works like a charm.

[2022-01-14 13:49] Chrzi opened #412 "Feature Request: Log4Shell exploit detection"
I see quite a few Log4Shell exploit attempts on my tanner instance.

For later analysis it would be very nice to have an automatic detection for this type of attack just like for xss.

The ability to emulate such requests would be pretty hard though. So is this something that is wanted?

[2022-01-15 19:24] danielkelley743 opened #413 "TannerWeb Redis issue"
Thoughts on ways to fix this? Keep getting it when running tannerweb - API and Tanner runs fine.

[code]

[2022-01-16 00:08] afeena commented on #410
#414 resolved :)

[2022-01-16 00:08] #410 closed

[2022-01-16 00:10] afeena commented on #413
Hi @danielkelley743
how you run tannerwb?

[2022-01-16 00:18] #394 closed

[2022-01-16 00:19] afeena commented on #413
Please look at the similar issue
https://github.com/mushorg/tanner/issues/403

[2022-01-16 00:19] #403 closed

[2022-01-16 00:20] #380 closed

[2022-01-16 00:20] #361 closed

[2022-01-16 00:21] afeena commented on #365
https://github.com/mushorg/tanner/pull/398

[2022-01-16 00:21] #365 closed

[2022-01-16 00:30] #408 closed

[2022-01-16 00:33] #366 closed

[2022-01-16 00:33] #375 closed

[2022-01-27 12:50] #413 closed

[2022-02-08 23:08] Chrzi opened #415 "RFI emulator exception: Future <Future pending> attached to a different loop"
Python version: 3.9
tanner version: latest master

During handling an RFI request the following exception pop up in the tanner error log and the request is not logged.

Can be reproduced by simply sending a GET request like this: `http://127.0.0.1/test?v=http://test.localhost`

What I noticed during debugging was that the loop running the `handle()` method is a different one from the `self._loop`

[2022-02-15 02:58] NitescuLucian opened #416 "TypeError: zrevrangebyscore() got an unexpected keyword argument 'offset'"
https://github.com/mushorg/tanner/blob/a98b7ab6f32a14f8301bdafc6c8fc9ecc1806e28/tanner/api/api.py#L42

[code]

I think was added as fix to another bug but I am running with dockers...

[2022-02-15 03:30] NitescuLucian commented on #416
https://aioredis.readthedocs.io/en/latest/api/high-level/#aioredis.client.Redis.zrevrangebyscore

[2022-02-16 09:53] afeena commented on #416
Hey, I believe you are running the master branch. Could you try please with the develop? It should be fixed there

[2022-03-09 10:51] afeena opened #418 "GSoC 2022 FAQ [WIP]"
# Here is the short guide for upcoming GSoC 2022.

**Slack**: gsoc-slack.honeynet.org
**Mentors**: @mzfr  @afeena

### I want to contribute. What should I do?
That is awesome! Here are some tips:

- Join our GSoC channel #2022-tanner
- Follow the quick-start and run the code (please use `develop` branch for tanner)
- Play with the tool! Try different stuff/attacks/crawlers
- Go through the code: t

[2022-03-09 11:01] afeena opened #419 "GSoC'22 - HTTP requests evaluation"
**Mentors**: Evgeniia Tokarchuk @afeena, Mehtab Zafar @mzfr

**Project type:** Improving existing tool

**Project hours:** 350

**Skill required:**
– Python 3
– Experience in Machine Learning (any)
– Optional: experience with (and/or) pytorch/scikit-learn/xgboost/other ML lib

**Description**:
TANNER is a remote data analysis and classification service to evaluate HTTP requests. However, the evalu

[2022-03-09 11:03] afeena opened #420 "GSoC'22 - Web Improvement"
**Mentors**: Mehtab Zafar @mzfr, Evgeniia Tokarchuk @afeena

**Project hours**: 175

**Description**:
TANNER has support for both an API and a WEB application. API is responsible for performing search operations and web application shows the data inconvenient way. Even though the current system allows to search and filter based on session attributes, there is a lack of visual representation for ag

[2022-03-12 17:04] mohamedmostafadawood commented on #404
https://github.com/mushorg/tanner/blob/2fdce2e2ad7e125012c7e6dcbfa02b50f73c128e/tanner/api/server.py#L38

I think this line is the key solution for your problem.

[2022-03-12 17:07] mohamedmostafadawood commented on #404
@afeena @mzfr  is there a reason for choosing to return 50 requests only?
I can work on it if it is possible : )

[2022-03-12 19:43] mzfr commented on #404
@mohamedmostafadawood AFAIK it is just for the single query. So in the single query, it returns 50. And then I think filters were supposed to be used for getting the other sessions. But yes there has to be a better way via which any number of sessions can be extracted.

[2022-03-13 13:01] mohamedmostafadawood commented on #419
When can I discuss the proposal?

[2022-03-13 13:02] mohamedmostafadawood commented on #404
@mzfr  I got it!

[2022-03-15 00:40] ruvlesh opened #421 "Tanner instalation"
Is php a pre-requisite for Tanner?

[2022-03-21 11:16] mohamedmostafadawood commented on #421
I think it is only used here in installing the sandbox https://github.com/mushorg/tanner#step-2-setup-php-sandbox

[2022-06-03 15:07] t3chn0m4g3 opened #422 "Python 3.10 breaks Tanner"
Tanner currently does not support Python 3.10 due to the `TypeError: As of 3.10, the *loop* parameter was removed from Queue() since it is no longer necessary`:
[code]

[2022-06-21 13:48] achute opened #423 "Docker Installation of Tanner fails due to some dependencies"
When I tried to install tanner using docker compose in Mac, I ran into the following python dependency issues:

[code]

Jinja2 website says:

[code]

For this I changed the DockerFile to have extra line, since the docker file fetches from github instead of reading the local requirements.txt file.

[code]

So here we now have another dependency issue: For this too I specified a specific version, us

[2022-06-28 06:02] nikAizuddin commented on #423
I'm also having the same issues. Limiting `Jinja2` to `2.x` and `MarkupSafe` to `2.0.x` fixed this issue

[2022-07-06 18:13] JohnBonJo opened #425 "TypeError: zrevrangebyscore() got an unexpected keyword argument 'offset' when running through docker"
on line 42 [tanner/tanner/api/api.py](https://github.com/mushorg/tanner/blob/a98b7ab6f32a14f8301bdafc6c8fc9ecc1806e28/tanner/api/api.py#L42)

![offset_error](https://user-images.githubusercontent.com/74373209/177613683-f0b777b8-c61b-4995-811c-7fff9a703f71.png)

same as this issue [https://github.com/mushorg/tanner/issues/416](https://github.com/mushorg/tanner/issues/416)

On that issue [afeena](ht

[2022-09-20 09:27] toyray commented on #425
Changing that line to `query_res = await self.redis_client.zrevrangebyscore(uuid, 0, -1, start=0, num=count)` seems to allow it to run with aioredis 2.0.

Referenced the doc at https://aioredis.readthedocs.io/en/latest/api/high-level/#aioredis.client.Redis.zrevrangebyscore, but I don't know if it works as intended.

[2022-09-29 18:07] JohnBonJo commented on #425
Thanks [@toyray](https://github.com/toyray)
it worked!

[2022-09-29 18:07] #425 closed

[2022-09-30 18:58] JohnBonJo opened #426 "Session analyzer is not working"
I'm running it with docker

In [docker/redis/Dockerfile](https://github.com/mushorg/tanner/blob/main/docker/redis/Dockerfile) I have changed redis:alpine to redis:6.2.7-alpine because I needed a lower redis rdb version to use it with a tool called [redis-rdb-tools](https://github.com/sripathikrishnan/redis-rdb-tools).

But it is not working. Also the web server displays empty data.
I've tried to t